{% extends 'base.html' %}
{% load static %}
{% load can_create_app %}
{% load custom_tags %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}

{% if project.status == "active" %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'projects:index' %}">My projects</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
    </ol>
</nav>

<div class="d-flex justify-content-between">
    <h3>{{ project.name }}</h3>
    <a href="{%  url 'projects:settings' request.user project.slug %}" class="btn btn-primary ms-2" data-cy="settings">
        <i class="bi bi-gear me-1"></i>
        Settings
    </a>
</div>

<div class="row py-1">
    <div class="col">
        {% include 'common/flash_messages.html' %}
    </div>
</div>

<div class="row my-2">
     <div class="col">
        {% if project.description %}
            <p class="card-text"><b>Description:</b> {{ project.description }}</p>
            {% endif %}
            <p><b>Project owner:</b> {{ project.owner.email }}</p>
            {% if project.authorized.all %}
            <p><b>Project members:</b> {{ project.authorized.all|join:"; " }}</p>
            {% endif %}
    </div>
</div>



<div class="row g-4">
    {% for objs in resources %}
    {% if  objs.title == "Manage Files" and not request.user.is_superuser or objs.title == "Additional options [admins only]" and not request.user.is_superuser %}
    {% else %}
    <div id="{{ objs.title|lower }}" class="col-12 d-flex">
        <div class="card w-100 border-0 shadow">
            <div class="card-header border-bottom-0 d-flex align-items-center justify-content-between py-3"
                style="min-height: 3rem;">
                <h5 class="card-title mb-0">{{ objs.title }}</h5>
            </div>
            {% if objs.objs %}
            <div class="no-footer mx-4 mt-4">
                <table id=""
                    class="table table-hover my-0 no-footer table-bordered" role="grid">
                    <thead>
                        <tr>
                            <th class="d-none d-xxl-table-cell " tabindex="0" rowspan="1" colspan="1"></th>
                            <th tabindex="0" rowspan="1" colspan="1">Type</th>
                            <th tabindex="0" rowspan="1" colspan="1">Name</th>
                            <th class="d-none d-xxl-table-cell " tabindex="0" rowspan="1" colspan="1">Created</th>
                            <th class="" tabindex="0" rowspan="1" colspan="1">Status</th>
                            <th class="d-none d-xxl-table-cell " tabindex="0" rowspan="1" colspan="1">Tags</th>
                            <th tabindex="0" rowspan="1" colspan="1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objs.objs %}
                        <tr class="odd">

                            {% static 'images/logos/apps/' as static_url %}
                            <td><img src="{{static_url}}{{obj.app.logo|default:'default-logo.png'}}" class="img-fluid "
                                    alt="App Logo" style="max-height:25px;"></td>
                            <td class="d-none d-xxl-table-cell ">{{ obj.app.name }}</td>
                            {% if obj.table_field.url %}
                            <td class="sorting_1">
                                {% if "Serv" in obj.app.name or obj.app.name == "Python Model Deployment" %}
                                    <a onclick="copyClip('{{obj.table_field.url}}')">
                                        {{obj.name}}
                                        <!-- Want to use bi-copy but it is not working. Instead, using the full svg code -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"/>
                                        </svg>
                                    </a>
                                {% else %}
                                <a href="{{ obj.table_field.url }}" target="_blank">
                                    {{obj.name}} <i class="bi bi-box-arrow-up-right"></i>
                                </a>
                                {% endif %}
                            </td>
                            {% else %}
                            <td class="sorting_1">{{ obj.name }}</td>
                            {% endif %}
                            <td class="d-none d-xxl-table-cell">{{ obj.created_on | date:"d/n/y H:i" }}</td>
                            <td>
                                <span class="badge bg-secondary" id="status-{{ obj.pk }}">
                                    {{ obj.status.latest.status_type }}
                                </span>
                                {% if obj.access %}
                                    {% if obj.access == 'public' %}
                                    <span class="badge bg-success">
                                        {{ obj.access }}
                                    </span>
                                    {% else %}
                                    <span class="badge bg-secondary">
                                        {{ obj.access }}
                                    </span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="d-none d-xxl-table-cell" id="tags-{{ obj.pk }}">
                            {% with obj.tags|split:"," as tags %}
                            {% for tag in tags %}
                                <span class="badge text-bg-primary">{{ tag }}</span>
                            {% endfor %}
                            {% endwith %}
                            </td>

                            <td class="table-action text-center">
                                <div class="dropdown show">
                                    <a href="#" class="default" data-bs-toggle="dropdown" data-display="static">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item disabled default"
                                            href="{% url 'apps:logs' request.user project.slug obj.pk %}">
                                            <i class="bi bi-activity me-1"></i>
                                            Logs (disabled)
                                        </a>

                                        {% if obj.app.user_can_edit %}

                                        <a class="dropdown-item default"
                                            href="{% url 'apps:appsettings' request.user project.slug obj.pk %}?from=overview">
                                            <i class="bi bi-sliders2-vertical me-1"></i>
                                            Settings
                                        </a>
                                        {% else %}

                                        <a class="dropdown-item default disabled">
                                            <i class="bi bi-sliders2-vertical me-1"></i>
                                            Settings
                                        </a>
                                        {% endif %}

                                        {% if obj.app.user_can_delete %}

                                        <a class="dropdown-item bg-danger text-white confirm-delete default"
                                            href="{% url 'apps:delete' request.user project.slug obj.app.category.slug obj.pk %}?from=overview">
                                            <i class="bi bi-trash me-1"></i>
                                            Delete
                                        </a>
                                        {% else %}

                                        <a class="dropdown-item bg-danger text-white confirm-delete default disabled">
                                            <i class="bi bi-trash me-1"></i>
                                            Delete
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if objs.title == "Develop" %}
            <div class="mx-4 mb-4 small text-muted">
            *Note that all apps under Develop will be deleted 7 days after creation.
            </div>
            {% endif %}
            {% else %}
            <div class="h-100 p-4 d-flex align-items-center justify-content-center border-bottom">
                <p>No instances.</p>
            </div>
            {% endif %}
                <div class="row g-2 py-2 mx-2">
                {% for app in objs.apps %}
                {% if project.s3storage == None and app.slug in 'mlflow,mlflow-serve,pytorch-serve,tensorflow-serve,python-serve' %}
                {% elif app.slug == "shinyapp" and not request.user.is_superuser %}
                {% else %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card h-100" data-cy="create-app-card">
                        <div class="card-body">
                            <div class="row g-0 w-100 h-100">
                                <div class="col-8 d-flex align-items-bottom flex-column">
                                    <div class="pt-2">
                                        <h5>{{ app.name }}</h5>
                                    </div>
                                    <div class="align-items-end d-flex h-100">
                                        <div>
                                            <div class="row">
                                                <div class="col small">
                                                    <p>{{ app.description }}</p>
                                                </div>
                                            </div>
                                                <div class="row">
                                                    <div class="col">
                                                        {% can_create_app request.user project app as can_create %}

                                                        {% if can_create %}

                                                            <!-- When models are launched REMOVE THIS -->
                                                                {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                                                                <a class="btn btn-primary btn-sm"
                                                                    href="">Create</a>
                                                                {% else %}
                                                            <!-- To here -->
                                                                <a class="btn btn-primary btn-sm"
                                                                    href="{% url 'apps:create' request.user project.slug app.slug  %}?from=overview">Create</a>

                                                            <!-- And here -->
                                                                {% endif %}
                                                            <!-- To here -->

                                                        {% else %}
                                                        <button class="btn btn-secondary btn-sm" style="cursor: default;"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            data-bs-title="Max number of apps of this type reached. Please email serve@scilifelab.se to request to change the app limits.">
                                                            Create
                                                        </button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    {% static 'images/logos/apps/' as static_url %}
                                    <img src="{{static_url}}{{app.logo|default:'default-logo.png'}}" class="img-fluid float-end w-75"
                                        alt="App Logo">
                                </div>
                            </div>
                        </div>
                        {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                        <div class="disabled-overlay">
                            <p>{{ app.name }} will be available soon</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% if project.s3storage %}
    <div id="models" class="col-12 d-flex">
        <div class="card w-100 border-0 shadow">
            <div class="card-header border-bottom-0 d-flex align-items-center justify-content-between py-3"
                style="min-height: 3rem;">
                <h5 class="card-title mb-0">Models</h5>
            </div>
            {% if models %}
            <div class="no-footer mx-2">

                <table id="datatables-dashboard-projects" class="table table-hover my-0 no-footer table-bordered" role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th class="d-none d-xxl-table-cell" scope="col">
                                Version</th>
                            <th class="d-none d-xxl-table-cell" scope="col">
                                Created</th>
                            <th scope="col">Status</th>
                            <th class="d-none d-md-table-cell" scope="col">
                                Accessability</th>
                            <th class="d-none d-md-table-cell" scope="col">
                                Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for model in models %}
                        <tr class="odd">
                            <td class="sorting_1">{{ model.name }}</td>
                            <td class="d-none d-xxl-table-cell">{{ model.version }}</td>
                            <td class="d-none d-xxl-table-cell">{{ model.uploaded_at | date:"d/n/y H:i" }}</td>
                            <td><span class="badge
                                        {% if model.status == 'CR' %}bg-warning
                                        {% elif model.status == 'DP' %}bg-success
                                        {% elif model.status == 'AR' %}bg-danger
                                        {% endif %}">{{ model.get_status_display }}</span></td>
                            <td class="d-none d-md-table-cell">{{ model.get_access_display }}</td>
                            <td class="table-action text-center">
                                <div class="dropdown show">
                                    <a href="#" data-bs-toggle="dropdown" data-display="static">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item default"
                                            href="{% url 'models:details_private' request.user project.slug model.pk %}">
                                            <i class="bi bi-text-center me-1"></i>
                                            Details
                                        </a>

                                        {% if model.access != "PU" %}
                                        <a class="dropdown-item default"
                                            href="{% url 'models:publish_model' request.user project.slug model.id %}">
                                            <i class="bi bi-share me-1"></i>
                                            Publish
                                        </a>
                                        {% else %}
                                        <a class="dropdown-item default"
                                            href="{% url 'models:unpublish_model' request.user project.slug model.id %}">
                                            <i class="bi bi-slash-circle me-1"></i>
                                            Unpublish
                                        </a>
                                        {% endif %}

                                        {% include 'common/serve_model_link.html' %}

                                        <a class="dropdown-item default bg-danger text-white confirm-delete"
                                            href="{% url 'models:delete' request.user project.slug model.pk %}">
                                            <i class="bi bi-trash me-1"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="h-100 p-4 d-flex align-items-center justify-content-center">
                    <p>No models have been uploaded to this project yet.</p>
                </div>
                {% endif %}
                <div class="row g-2 py-2 mx-2">
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row g-0 w-100 h-100">
                                    <div class="col-8 d-flex align-items-bottom flex-column">
                                        <div class="pt-2">
                                            <h5>Machine Learning Models</h5>
                                        </div>
                                        <div class="align-items-end d-flex h-100">
                                            <div>
                                                <div class="row">
                                                    <div class="col">
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- When models are launched REMOVE THIS -->
                                                                <!-- This temporary disables models and serving apps -->
                                                                {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                                                                <a class="btn btn-primary btn-sm"
                                                                    href="">Create</a>
                                                                {% else %}
                                                        <!-- To here -->
                                                        <a class="btn btn-primary btn-sm"
                                                            href="{% url 'models:create' request.user project.slug %}">Create</a>

                                                        <!-- And from here -->
                                                        {% endif %}
                                                        <!-- To here -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <img src="/static/images/logos/apps/netpolicy-logo.png" class="img-fluid float-end w-75" alt="App Logo">
                                    </div>
                                </div>
                            </div>
                            <!-- When models are launched REMOVE THIS -->
                                <div class="disabled-overlay">
                                    <p>Machine Learning Models will be available soon</p>
                                </div>
                            <!-- To here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}




    <div id="manage-files" class="col-12 d-flex">
        <div class="card w-100 border-0 shadow">
            <div class="card-header border-bottom-0 d-flex align-items-center justify-content-between py-3"
                style="min-height: 3rem;">
                <h5 class="card-title mb-0">Manage Files</h5>
            </div>
            {% if minio_instance %}
            <div class="row p-3">
               <div class="col-12 col-sm-6">
                    <p>File managing is activated and was created on {{ minio_instance.created_on }}</p>
                    <p>You can reach the console by clicking the button below</p>
                    <a class="btn btn-primary mb-3" href="{{ minio_instance.table_field.url }}" target="_blank">
                        Open File Manager <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                    <p>To use the S3-API - Read the  <a href="https://serve.scilifelab.se/docs/files/">instructions here</a></p>
               </div>
                <div class="col-12 col-sm-6">
                    <h5 class="text-center">Credentials - Click to reveal and copy</h5>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Status:</strong>
                        <span class="badge bg-secondary" id="status-{{ minio_instance.pk }}">
                            {{ minio_instance.status.latest.status_type }}
                        </span>

                    </li>
                    <li class="list-group-item">
                        <strong>Username:</strong>
                        <span onclick="revealCredential('minio-username'); copyClip('{{ minio_instance.parameters.credentials.access_key }}', event)">
                            <input class="border-0 text-dark" type="password" value="{{ minio_instance.parameters.credentials.access_key }}" id="minio-username" disabled style="pointer-events: none;">
                        </span>

                    </li>
                    <li class="list-group-item">
                        <strong>Password:</strong>
                        <span onclick="revealCredential('minio-password'); copyClip('{{ minio_instance.parameters.credentials.secret_key }}', event)">
                            <input class="border-0 text-dark" type="password" value="{{ minio_instance.parameters.credentials.secret_key }}" id="minio-password" disabled style="pointer-events: none;">
                        </span>

                    </li>
                    <li class="list-group-item">
                        <strong>API Endpoint:</strong>
                        <span onclick="copyClip('{{ minio_instance.table_field.url|slice:":8"|add:"api-" }}{{ minio_instance.table_field.url|slice:"8:" }}', event)">
                            {{ minio_instance.table_field.url|slice:":8"|add:"api-" }}{{ minio_instance.table_field.url|slice:"8:" }}
                        </span>
                    </li>
                    </ul>
                </div>



            </div>
            {% else %}


            <div class="row g-2 py-2 mx-2">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row g-0 w-100 h-100">
                                <div class="col-8 d-flex align-items-bottom flex-column">
                                    <div class="pt-2">
                                        <h5>Activate file managing tools. </h5>
                                    </div>
                                    <div class="align-items-end d-flex h-100">
                                        <div>
                                            {% if minio_instance %}
                                            <button class="btn btn-success btn-sm" disabled>Activated</button>
                                            {% else %}
                                            <a class="btn btn-success btn-sm"
                                            href="{% url 'apps:create' request.user project.slug "minio"  %}?from=overview">Activate</a>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="/static/images/logos/apps/minio-logo.svg" class="img-fluid float-end w-75" alt="App Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

    <script>
            function revealCredential(id) {
              var credential = document.getElementById(id);
              if (credential.type === "password") {
                credential.type = "text";

            // Remove the tooltip after 2 seconds
                setTimeout(function() {
                    credential.type = "password";
                }, 8000);

              } else {
                credential.type = "password";
              }
            }


        {
            const apps = JSON.parse("{{ app_ids|escapejs }}")
            const body = new FormData()
            body.append("apps", apps)

            const url = "{% url 'apps:get_status' request.user project.slug %}"
            const csrftoken = getCookie('csrftoken');

            const updateStatus = async () => {

                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body
                })

                const json = await response.json()

                for (const key in json) {
                    if (Object.hasOwnProperty.call(json, key)) {

                        const { status, statusGroup } = json[key]
                        const querySelector = `#status-${key}`
                        const elements = document.querySelectorAll(querySelector);

                        elements.forEach(element => {
                            const className = `badge bg-${statusGroup}`;
                            element.className = className;
                            element.innerText = status;
                        });
                    }
                }
            }

            const loop = async () => {

                if ((apps?.length ?? 0) > 0) {

                    await updateStatus()

                    setTimeout(() => {
                        loop()
                    }, 5000)
                }
            }

            loop()
        }
    </script>
</div>
    {% else %}

    <div class="row">
        <div class="col d-flex justify-content-center">

            {% include 'common/loader.html' %}
        </div>
    </div>

    <script>
        {

            const url = "{% url 'projects:get_status' request.user project.slug %}"
            const csrftoken = getCookie('csrftoken');

            const getStatus = async () => {

                const response = await fetch(url, {
                    headers: {
                        'Accept': 'application/json',
                        'X-CSRFToken': csrftoken,
                    }
                })

                const json = await response.json()

                if (json.status !== "created") {
                    window.location.reload()
                }
            }

            const loop = async () => {

                await getStatus()

                setTimeout(() => {
                    loop()
                }, 2000)
            }

            loop()

        }
    </script>

    {% endif %}




    {% endblock %}
