{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}

{% if project.status == "active" %}

    {% include 'common/flash_messages.html' %}
    {% include "breadcrumbs/bc_project_overview.html" %}
    {% include "projects/partials/project_header.html" %}
    {% include "projects/partials/project_description.html" %}




    <div class="row g-4">
        {% for objs in resources %}
        
            {% if objs.title == "Develop" and objs.apps %}
                {% include "projects/categories/develop.html" %}
            {% endif %} 

            {% if objs.title == "Serve" and objs.apps %}
                {% include "projects/categories/serve.html" %}
            {% endif %} 

            {% if objs.title == "Manage Files" and objs.apps %}
                {% include "projects/categories/manage_files.html" %}
            {% endif %}

            {% if objs.title == "Additional options [admins only]" and objs.apps %}
                {% include "projects/categories/manage_files.html" %}
            {% endif %}   
        {% endfor %}

    </div>
{% endif %}

{% include "projects/partials/scripts.html" %}

{% endblock %}
