{% extends 'base.html' %}

{% block title %}{{ project.name }} - settings{% endblock %}

{% block content %}

{% load get_setting %}
{% get_setting "ENABLE_PROJECT_EXTRA_SETTINGS" as enable_extra_settings %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'projects:index' %}">My projects</a></li>
      <li class="breadcrumb-item"><a href="{% url 'projects:details' project.slug %}">{{ project.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
</nav>

<h3 class="h3 mb-3">Project settings</h3>

<div class="row">
    <div class="col-md-3 col-xl-2">

        <div class="card shadow border-0">
            <div class="list-group list-group-flush" role="tablist">

                <a class="default list-group-item list-group-item-action active p-3" data-bs-toggle="list"
                    href="#projdesc" role="tab">
                    Description
                </a>
                <a class="default list-group-item list-group-item-action p-3" data-bs-toggle="list" href="#access"
                    role="tab">
                    Access
                </a>
                {% if enable_extra_settings or request.user.is_superuser %}
                <a class="default list-group-item list-group-item-action p-3" data-bs-toggle="list" href="#flavors"
                    role="tab">
                    Flavors
                </a>
                <a class="default list-group-item list-group-item-action p-3" data-bs-toggle="list" href="#environments"
                    role="tab">
                    Environments
                </a>
                {% endif %}

                {% if request.user.pk == project.owner.pk or request.user.is_superuser %}
                <a class="default list-group-item list-group-item-action p-3 text-red" data-bs-toggle="list"
                    href="#delete" role="tab">
                    Delete
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10 mt-4 mt-md-0">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="projdesc" role="tabpanel">
                <div class="card shadow border-0">

                    <div class="card-header bg-light py-3">
                        <h5 class="card-title mb-0">Change project description</h5>
                    </div>
                    <form action="{% url 'projects:change_description' project.slug %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" readonly
                                    placeholder="{{ project.name }}">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" rows="5" id="description" name="description"
                                    contenteditable="true">{% if project.description %}{{ project.description }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                                <button type="submit" class="btn btn-square btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="access" role="tabpanel">

                {% include './grant_revoke_access.html' %}

            </div>

            {% if enable_extra_settings or request.user.is_superuser %}
            <div class="tab-pane fade" id="flavors" role="tabpanel">
                <div class="card shadow border-0">

                    <div class="card-header bg-light py-3">
                        <h5 class="card-title mb-0">Flavors</h5>
                    </div>

                    <div class="card-body">
                        <form action="{% url 'projects:delete_flavor' project.slug %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <select type="text" class="form-control" id="flavor_pk" name="flavor_pk" maxlength="256"
                                    required>
                                    {% for flavor in flavors %}
                                    <option value="{{ flavor.pk }}">{{ flavor.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-square btn-danger justify-content-end">Delete flavor</button>
                        </form>
                        <div class="mt-2">
                            or create new flavor:
                            <form action="{% url 'projects:create_flavor' project.slug %}" method="post"
                                class="mt-2">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="flavor_name">Name</label>
                                    <input type="text" name="flavor_name" id="flavor_name" value="" placeholder="N vCPU, N GB RAM"
                                        class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="cpu_req">CPU request</label>
                                    <input type="text" name="cpu_req" id="cpu_req" value="200m" class="form-control" />
                                </div>
                                <div class="mb-3"></div>
                                    <label for="cpu_lim">CPU limit</label>
                                    <input type="text" name="cpu_lim" id="cpu_lim" value="2000m" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="mem_req">Memory request</label>
                                    <input type="text" name="mem_req" id="mem_req" value="0.5Gi" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="mem_lim">Memory limit</label>
                                    <input type="text" name="mem_lim" id="mem_lim" value="4Gi" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="mem_req">Ephemeral storage request</label>
                                    <input type="text" name="ephmem_req" id="ephmem_req" value="200Mi" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="mem_lim">Ephemeral storage limit</label>
                                    <input type="text" name="ephmem_lim" id="ephmem_lim" value="1000Mi" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-square btn-primary">Create flavor</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="environments" role="tabpanel">
                <div class="card shadow border-0">

                    <div class="card-header bg-light py-3">
                        <h5 class="card-title mb-0">Environments</h5>
                    </div>

{#                    Warn that this is a legacy way of environments management #}
                    <div class="card-body">
                        <div class="alert alert-warning alert-outline alert-dismissible" role="alert">
                            <i class="far fa-fw fa-bell"></i>
                            <strong>Legacy way of managing environments!</strong> This is a legacy way of managing environments.
                            We recommend using admin panel to manage environments.
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="{% url 'projects:delete_environment' project.slug %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <select type="text" class="form-control" id="environment_pk" name="environment_pk"
                                    maxlength="256" required>
                                    {% for environment in environments %}
                                    <option value="{{ environment.pk }}">{{ environment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-square btn-danger">Delete environment</button>
                        </form>
                        <div class="mt-2">
                            or create new Environment:
                            <form action="{% url 'projects:create_environment' project.slug %}"
                                method="post" class="mt-2">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="environment_name">Name</label>
                                    <input type="text" name="environment_name" id="environment_name" value=""
                                        class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="environment_name">Repository</label>
                                    <input type="text" name="environment_repository" id="environment_repository"
                                        value="" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="environment_image">Image</label>
                                    <input type="text" name="environment_image" id="environment_image" value=""
                                        class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="environment_app">Applies to app:</label>
                                    <select type="text" class="form-control" id="environment_app" name="environment_app"
                                        maxlength="256" required>
                                        {% for app in apps %}
                                        <option value="{{ app.pk }}">{{ app.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-square btn-primary">Create environment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            {% endif %}
            {% if request.user.pk == project.owner.pk or request.user.is_superuser %}
            <div class="tab-pane fade" id="delete" role="tabpanel">
                <div class="card shadow border-0">

                    <div class="card-header bg-white py-3">
                        <h5 class="card-title mb-0">Delete project</h5>
                    </div>

                    <div class="card-body">

                        <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                            <i class="far fa-fw fa-bell"></i>
                            <strong>Please be certain!</strong> Once you delete this project, there is no going
                            back.
                        </div>
                        <form class="row row-cols-md-auto align-items-center"
                            action="{% url 'projects:delete' project.slug %}" method="post">
                            {% csrf_token %}

                            <div class="col-12">
                                <label for="id_delete_button">Delete anyway?</label>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-danger btn-square" id="id_delete_button"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    Delete
                                </button>
                                <div class="modal fade" id="deleteModal" tabindex="-1" style="display: none;"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete project</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body m-3">
                                                <p class="mb-0">Are you sure that you want to delete project with name
                                                    {{ project.name }}?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-square btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-square btn-danger">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif%}
        </div>
    </div>
</div>

<script>

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const template = urlParams.get("template")

    if (!!template) {

        const element = document.getElementById(template)
        element.classList.add("active")
        element.classList.add("show")

        const linkElement = document.querySelector(`[href="#${template}"]`)

        linkElement.classList.add("active")

        const defaultId = "projdesc"

        const defaultElement = document.getElementById(defaultId)
        defaultElement.classList.remove("active")
        defaultElement.classList.remove("show")

        const defaultLinkElement = document.querySelector(`[href="#${defaultId}"]`)

        defaultLinkElement.classList.remove("active")
    }

</script>
{% endblock %}
