media
charts/values
sent_emails
venv
.venv
Dockerfile
Dockerfile.cypress
Dockerfile.nginx
docker-compose.yaml
.pre-commit-config.yaml
.flake8
.git
.github
.ci
.hypothesis
.mypy_cache
.pytest_cache
__pycache__
node_modules
.ci
