{% extends 'base.html' %}

{% block title %}Apps{% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="p-0 p-lg-5">
    <div class="row">
        <div class="col">
            <h3 class="h3 mb-3 me-5">
                Public apps
                {% if published_apps|length > 0 %}
                <span class="ghost-number">{{ published_apps|length }}</span>
                {% endif %}

            </h3>

            <div class="tag-list">
                {% for tf in request.session.app_tag_filters %}
                <div class="tag d-inline">
                    <span class="badge text-bg-primary">{{ tf }}
                        <a class="tag-list-ico fas fa-times" style="color: inherit;"
                        href="{% url 'portal:apps' %}?tf_remove={{ tf | urlencode }}">x</a>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row pt-3 g-4">
        <div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4">
                {% for app in published_apps %}
                <div class="col mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body m-1">
                            <div class="col-12 d-flex flex-row pb-2 align-items-center">
                                <div class="col-8 d-flex">
                                    <h5 class="card-title bg-white">{{ app.name }}</h5>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    {% static 'images/logos/apps/' as static_url %}
                                    <img class="img-fluid float-end img-cover" style="height:50px;"
                                        src="{{static_url}}{{app.app.logo}}"
                                        alt="App Logo" title="{{app.app.name}}">
                                </div>
                            </div>

                            <div class="card-text">
                                <p>{{app.description}}</p>
                                <ul class="list-unstyled">
                                    <li class="list-group-item row">
                                        <div class="col-3"><span class="value-label">Owner:</span></div>
                                        <div class="col-9">{{ app.owner.first_name }} {{ app.owner.last_name }}</div>
                                    </li>
                                </ul>
                            </div>

                            <div class="row d-flex flex-column pb-4">
                                <div class="col-12">
                                    {% if request.session.app_tags|exists:app.id %}
                                    {% with app.tags|split:"," as tags %}
                                    {% for tag in tags %}
                                    <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                        href="{% url 'portal:apps' %}?tf_add={{ tag | urlencode }}">
                                        <div class="tag-ico fas fa-tag fa-sm"></div><span class="badge text-bg-primary">{{ tag }}</span>
                                    </a>
                                    {% endfor %}
                                    <a href="{% url 'portal:apps' %}?app_id_remove={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                                        class="d-inline-flex">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-circle tag-count">
                                            -
                                        </button>
                                    </a>
                                    {% endwith %}
                                    {% else %}
                                    {% with app.tags|split:"," as tags %}
                                    {% with tags|count_str as tag_limit %}
                                    {% for tag in tags|slice:tag_limit %}
                                    <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                        href="{% url 'portal:apps' %}?tf_add={{ tag | urlencode }}">
                                        <div class="tag-ico fas fa-tag fa-sm"></div><span class="badge text-bg-primary">{{ tag }}</span>
                                    </a>
                                    {% endfor %}
                                    {% if tags.count > tag_limit %}
                                    <a href="{% url 'portal:apps' %}?app_id_add={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                                        class="d-inline-flex">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light fw-600 tag-count">+{{
                                            tags.count|subtract:tag_limit }}</button>
                                    </a>
                                    {% endif %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mt-auto">
                                <div class="col-6">
                                    <a href="{{ app.table_field.url }}" target="_blank" class="btn btn-primary btn-sm">Open</a>
                                </div>
                                <div class="col-6 text-end">
                                    {% if app.status_group == "success" %}
                                    <span class="badge bg-success">Running</span>
                                    {% else %}
                                    <span class="badge bg-warning">Waiting</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="card-footer d-flex text-muted card-footer-text">
                            <div class="col-3 d-inline-block">
                                <span>{{ app.app.name }}</span>
                            </div>
                            <div class="col-9 d-inline-block text-end">
                                <span>Last updated: {{ app.updated_on|date:"d M, Y" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
