{% extends 'base.html' %}

{% block title %}Apps and models{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="col d-flex">

  <div class="w-100">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center mb-3 flex-wrap justify-content-center">
                <h3 class="h3 me-2">Public Applications & Models</h3>
                <span id="public-apps-count" class="ghost-number h3 me-3">{{ published_apps|length }}</span>
                <div class="break"></div>
                <div class="search-container-filter me-3 w-50">
                  <input id="public-app-search" class="form-control search-input-filter search" placeholder="Search Apps..." {% if published_apps|length <= 0 %}disabled{% endif %}>
                </div>
                <button class="btn btn-outline-dark btn-xs" type="button" id="filterButton" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" {% if published_apps|length <= 0 %}disabled{% endif %}>
                    <i class="fa-solid fa-sliders fa-sm"></i> <span class="ms-1">Filters</span>
                </button>
            </div>
            <div class="collapse mb-2" id="collapseFilters">
              <div class="card">
                <div class="card-header py-0">
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid d-flex flex-wrap">
                      <ul class="nav nav-pills serve-filter-nav justify-content-center">
                          <li class="nav-item me-2 mb-1">
                            <button class="nav-link btn rounded-pill position-relative active"  id="pills-app-types-tab" data-bs-toggle="pill" data-bs-target="#pills-app-types" type="button" role="tab" aria-controls="pills-app-types" aria-selected="true" onclick="resetFilterList()">
                              <div class="fas fa-cube fa-sm me-1"></div>
                              App Type
                            <span class="card-app-type-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-grape-075 visually-hidden">
                              0
                            </span>
                          </button>
                          </li>

                          <li class="nav-item me-2 mb-1">
                            <button class="nav-link btn rounded-pill position-relative"  id="pills-organization-tab" data-bs-toggle="pill" data-bs-target="#pills-organization" type="button" role="tab" aria-controls="pills-organization" aria-selected="true" onclick="resetFilterList()">
                              <div class="fas fa-graduation-cap fa-sm me-1"></div>
                              Organizations
                              <span class="card-institution-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-grape-075 visually-hidden">
                                0
                              </span>
                            </button>
                          </li>
                          <li class="nav-item me-2 mb-1">
                            <button class="nav-link btn rounded-pill position-relative" id="pills-department-tab" data-bs-toggle="pill" data-bs-target="#pills-department" type="button" role="tab" aria-controls="pills-department" aria-selected="true" onclick="resetFilterList()">
                              <div class="fas fa-building-columns fa-sm me-1"></div>
                              Departments
                              <span class="card-department-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-grape-075 visually-hidden">
                                0
                              </span>
                            </button>
                          </li>
                          <li class="nav-item me-2 mb-1">
                            <button class="nav-link btn rounded-pill position-relative" id="pills-keyword-tab" data-bs-toggle="pill" data-bs-target="#pills-keyword" type="button" role="tab" aria-controls="pills-keyword" aria-selected="true" onclick="resetFilterList()">
                              <div class="fas fa-tag fa-sm me-1"></div>
                              Keywords
                              <span class="card-keyword-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-grape-075 visually-hidden">
                              0
                            </span>
                            </button>
                          </li>
                          <li class="nav-item me-2 mb-1 hide-filter-search-reset">
                          <button class="btn btn-outline-dark btn-xs d-flex align-items-center" type="button" onclick="resetFilters()">
                                <i class="fa-solid fa-rotate-left fa-sm"></i>
                                <span class="ms-1">Reset</span>
                              </button>
                          </li>
                        </ul>

                        <div class="search-container-filter w-25 d-flex mb-1 show-filter-search">
                              <input id="filter-search" type="search" class="form-control search-input-filter search w-75 me-3 d-flex" placeholder="Search Tags...">
                              <button class="btn btn-outline-dark btn-xs d-flex align-items-center" type="button" onclick="resetFilters()">
                                <i class="fa-solid fa-rotate-left fa-sm"></i>
                                <span class="ms-1">Reset</span>
                              </button>
                          </div>
                    </div>
                  </nav>
                  </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-app-types" role="tabpanel" aria-labelledby="pills-app-types-tab">
                          <div id="filters-app-type" class="card-body">
                          <div class="list">
                          <div style="display:none;">
                              <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                              <span class="tag-name"></span>
                          </div>
                          {% for app_category in serve_category_apps %}
                          <a class="tag tag-filter card-app-type me-3 mb-2" href="#" onclick="searchByTag('{{ app_category.name }}','card-app-type',this)">
                            <span class="badge text-bg-primary badge-grape badge-ico-text-filter " style="margin-right: -0.2rem;">
                              <div class="fas fa-cube fa-sm me-1"></div>
                              <span class="tag-name">{{ app_category.name|title }}</span>
                            </span>

                          </a>
                          {% endfor %}

                          </div>
                          <nav class="d-flex justify-content-end" aria-label="Category pagination">
                              <ul class="pagination pagination-sm serve-pagination serve-pagination-filter mb-0">
                              </ul>
                            </nav>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="pills-organization" role="tabpanel" aria-labelledby="pills-organization-tab">
                          <div id="filters-organization" class="card-body">
                            <div class="list">
                              <div style="display:none;">
                                <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                <span class="tag-name"></span>
                              </div>
                              {% for org in unique_organizations %}
                              <a class="tag tag-filter  card-institution me-3 mb-2" href="#" onclick="searchByTag('{{ org | university_name }}','card-institution',this)">
                                <span class="badge text-bg-primary badge-grape badge-ico-text-filter " style="margin-right: -0.2rem;">
                                  <div class="fas fa-graduation-cap fa-sm me-1"></div>
                                  <span class="tag-name">{{ org | university_name }}</span>
                                </span>
                              </a>
                              {% endfor %}

                            </div>
                            <nav class="d-flex justify-content-end" aria-label="Organization pagination">
                                  <ul class="pagination pagination-sm serve-pagination serve-pagination-filter">
                                  </ul>
                                </nav>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="pills-department" role="tabpanel" aria-labelledby="pills-department-tab">
                          <div id="filters-department" class="card-body">
                            <div class="list">
                              <div style="display:none;">
                                <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                <span class="tag-name"></span>
                              </div>
                              {% for dep in unique_departments %}
                              <a class="tag tag-filter card-department me-3 mb-2" href="#" onclick="searchByTag('{{ dep }}','card-department',this)">
                                <span class="badge text-bg-primary badge-grape badge-ico-text-filter " style="margin-right: -0.2rem;">
                                  <div class="fas fa-building-columns fa-sm me-1"></div>
                                  <span class="tag-name">{{ dep }}</span>
                                </span>
                              </a>
                              {% endfor %}

                            </div>
                            <nav class="d-flex justify-content-end" aria-label="Department pagination">
                                  <ul class="pagination pagination-sm serve-pagination serve-pagination-filter">
                                  </ul>
                                </nav>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="pills-keyword" role="tabpanel" aria-labelledby="pills-keyword-tab">
                          <div id="filters-keyword" class="card-body">
                            <div class="list">
                              <div style="display:none;">
                                <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                <span class="tag-name"></span>
                              </div>
                              {% for tag in unique_tags %}
                              <a class="tag tag-filter card-keyword me-3 mb-2" href="#" onclick="searchByTag('{{ tag | title }}','card-keyword',this)">
                                <span class="badge text-bg-primary badge-grape badge-ico-text-filter " style="margin-right: -0.2rem;">
                                  <div class="fas fa-tag fa-sm me-1"></div>
                                  <span class="tag-name">{{ tag |title }}</span>
                                </span>
                              </a>
                              {% endfor %}

                          </div>
                          <nav class="d-flex justify-content-end" aria-label="Keyword pagination">
                                <ul class="pagination pagination-sm serve-pagination serve-pagination-filter">
                                </ul>
                          </nav>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tag-list d-flex">
                {% for tf in request.session.app_tag_filters %}
                <div class="tag d-flex m-1">
                    <span class="badge text-bg-primary badge-grape  d-flex align-items-center">{{ tf|title }}
                        <a href="{% url 'portal:apps' %}?tf_remove={{ tf | urlencode }}">
                            <button type="submit" class="btn-close btn-close-white ms-1" name="tag" value="{{tag}}"
                            aria-label="Close"></button>
                        </a>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if not published_apps %}
    <p id="public-apps-container">No public apps available.</p>
    {% endif %}
    <div id="public-apps-container" class="row g-4">
      <div class="col-12 d-flex sidebar">
        <div id="app-cards" class="col-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 list">
              {% if published_apps|length <= 0 %}
              <div style="display:none;">
                <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                <span class="card-title"></span>
                <span class="card-description"></span>
                <span class="card-username"></span>
                <span class="card-department"></span>
                <span class="card-institution"></span>
                <span class="card-app-type"></span>
                <span class="card-keyword"></span>
              </div>
              {% endif %}
              {% for app in published_apps %}
              <div class="col mb-4">
                  {% include 'common/app_card.html' %}
              </div>
              {% endfor %}
          </div>
          {% if published_apps|length > 0 %}
          <nav class="d-flex justify-content-center" aria-label="Main pagination">
            <ul class="pagination pagination-sm serve-pagination pagination-nav">
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if published_apps|length > 0 %}
<script>
    var options = {
    valueNames: [ 'card-title', 'card-description', 'card-username', 'card-department', 'card-institution', 'card-app-type','card-keyword'],
    page: 12,
    pagination: {
      listClass: 'pagination',
      item: function(values) {return `<li class="page-item"><a class='page-link' onclick='addFirstLastButtons()'>${values.page}</a></li>`;},
      innerWindow: 2,
      outerWindow: 2,
      left: 2,
      right: 2}
    };

    var filter_options = {
    valueNames: [ 'tag-name' ],
    page: 30,
    pagination: {
      listClass: 'pagination',
      item: function(values) {return `<li class="page-item"><a class='page-link' onclick='resetPageFilter()'>${values.page}</a></li>`;},
      innerWindow: 2,
      left: 2,
      right: 2}
    };

    var publicAppList = new List('app-cards', options);

    $('#public-app-search').on('keyup', function() {
      var searchString = $(this).val();
      var searchedList = publicAppList.search(searchString);
      $("#public-apps-count").text(publicAppList.matchingItems.length);
      addFirstLastButtons();
    });
    var searchTags = [];
    var columnsToSearch = [];
    var searchValues = [];
    var filterAppTypeList = new List('filters-app-type', filter_options);
    var filterOrgsList = new List('filters-organization', filter_options);
    var filterDepList = new List('filters-department', filter_options);
    var filterKeywordsList = new List('filters-keyword', filter_options);
    filterAppTypeList.sort('tag-name', { order: "asc" });
    filterOrgsList.sort('tag-name', { order: "asc" });
    filterDepList.sort('tag-name', { order: "asc" });
    filterKeywordsList.sort('tag-name', { order: "asc" });
    $('#filter-search').on('keyup', function() {
      var searchString = $(this).val();
      if ($('#pills-app-types-tab').hasClass('active')) {
        var searchedList = filterAppTypeList.search(searchString);
      } else if ($('#pills-organization-tab').hasClass('active')) {
        var searchedList = filterOrgsList.search(searchString);
      } else if ($('#pills-department-tab').hasClass('active')) {
        var searchedList = filterDepList.search(searchString);
      } else if ($('#pills-keyword-tab').hasClass('active')) {
        var searchedList = filterKeywordsList.search(searchString);
      }

    });

    function searchByTag(value, tagType, element) {
        if (searchValues.includes(value)) {
          searchTags = searchTags.filter(e => e.value !== value);
          searchValues = searchValues.filter(e => e !== value);
          tagTypeExists = searchTags.some(tag => tag.tagType === tagType);
          if (!tagTypeExists) {
            columnsToSearch = columnsToSearch.filter(e => e !== tagType);
          }
        } else {
          searchTags.push({"element": element, "tagType": tagType, "value": value});
          searchValues.push(value);
        }
        if (searchValues.includes("Shiny App")) {
            if (searchValues.indexOf("ShinyProxy App") === -1) searchValues.push("ShinyProxy App");
        } else if (searchValues.includes("ShinyProxy App")) {
            searchValues = searchValues.filter(e => e !== "ShinyProxy App");
        }

        $(".badge-ico-text-filter").removeClass('badge-ico-text-filter-selected');
        $(".tag-filter."+tagType).addClass('inactive');
        countTagTypes = {};
        searchTags.forEach(function(tag) {
            if (columnsToSearch.indexOf(tag.tagType) === -1) columnsToSearch.push(tag.tagType);
            if (!searchValues.includes(tag.value)) searchValues.push(tag.value);
            tag.element.classList.remove('inactive');
            if (countTagTypes[tag.tagType]) {
              countTagTypes[tag.tagType]++;
            } else {
              countTagTypes[tag.tagType] = 1;
            }
            var children = tag.element.children;
            for (var i = 0; i < children.length; i++) {
              if (children[i].classList.contains('badge-ico-text-filter')) {
                children[i].classList.add('badge-ico-text-filter-selected');
              }
            }
        });
        let countTagTypesArr = Object.entries(countTagTypes);
        for ([key, value] of countTagTypesArr){
          var countElement = document.querySelector('.' + key + '-count');
          if (countElement) {
            countElement.textContent = value;
            $('.' + key + '-count').removeClass("visually-hidden");
          }
        }
        if (columnsToSearch.length == 0) {
          $(".tag-filter").removeClass('inactive');
          $(".card-app-type-count").text(0);
          $(".card-institution-count").text(0);
          $(".card-department-count").text(0);
          $(".card-keyword-count").text(0);
          $(".card-app-type-count").addClass("visually-hidden");
          $(".card-institution-count").addClass("visually-hidden");
          $(".card-department-count").addClass("visually-hidden");
          $(".card-keyword-count").addClass("visually-hidden");
        } else {
          ["card-app-type","card-institution","card-department","card-keyword"].forEach(function(el) {
            if (columnsToSearch.indexOf(el) === -1) {
              $("."+el+ '-count').text(0);
              $("."+el+ '-count').addClass("visually-hidden");
            }
          });
        }
        var searchedList = publicAppList.filter(function(item) {
            var columnBools = [];
            columnsToSearch.forEach(function(column) {
              if (column === "card-keyword") {
                var match = item.values()[column].split(',').map(function(tag) {
                  return tag.trim();
                });
                if (item.values()[column] !== "" && checkSubset(match, searchValues)) {
                  columnBools.push(true);
                } else {
                  columnBools.push(false);
                }

              } else {
                var match = item.values()[column];
                if (match !== "" && searchValues.includes(match)) {
                  columnBools.push(true);
                } else {
                  columnBools.push(false);
                }
              }

           });
           if (columnBools.length != 0 && columnBools.every(function(e) { return e==true; })) {
                return true;
              } else {
                return false;
              }
        });

        if (searchTags.length == 0 && columnsToSearch.length == 0) {
          var searchedList = publicAppList.filter();
        }
        $("#public-apps-count").text(publicAppList.matchingItems.length);
        addFirstLastButtons();
    }

    function resetFilterList() {
      filterAppTypeList.search();
      filterOrgsList.search();
      filterDepList.search();
      filterKeywordsList.search();
      $("#filter-search").val('');
    }
     function resetPageFilter() {
        $(function() {
          if (searchTags.length === 0) {
            $(".badge-ico-text-filter").removeClass('badge-ico-text-filter-selected');
            $(".tag-filter").removeClass('inactive');
          }
        });

     }
      function checkSubset (match, searchValues) {
        return searchValues.some((el) => {
            return match.includes(el) || match.includes('"'+el+'"');
        })
      }
     function resetFilters() {

        searchTags = [];
        columnsToSearch = [];
        searchValues = [];
        $(".badge-ico-text-filter").removeClass('badge-ico-text-filter-selected');
        $(".tag-filter").removeClass('inactive');
        resetFilterList();
        $(".card-app-type-count").text(0);
        $(".card-institution-count").text(0);
        $(".card-department-count").text(0);
        $(".card-keyword-count").text(0);
        $(".card-keyword-count").addClass("visually-hidden");
        $(".card-app-type-count").addClass("visually-hidden");
        $(".card-institution-count").addClass("visually-hidden");
        $(".card-department-count").addClass("visually-hidden");
        publicAppList.filter();
        var searchedList = publicAppList.search();
        $("#public-apps-count").text(publicAppList.matchingItems.length);
        resetPageFilter();
        addFirstLastButtons();
    }
    addFirstLastButtons();
    function addFirstLastButtons() {
        // TODO: Fix adding first and last buttons to pagination
        //$(function() {
        //  $('.pagination-nav').prepend('<li class="page-item btn-first"><a class="page-link" onclick="addFirstLastButtons()">First</a></li>');
        //  $('.pagination-nav').append('<li class="page-item btn-last"><a class="page-link" onclick="addFirstLastButtons()">Last</a></li>');
        //  $('.btn-first').on('click', function(){
        //      publicAppList.show(1,12)
        //  })
        //  $('.btn-last').on('click', function(){
        //      publicAppList.show(publicAppList.size()-1,12)
        //  })
        //});
    }
  </script>
  {% endif %}
{# Including code for modals displaying Docker info #}
{% include 'common/app_card_docker_info.html' %}
{# Including code hiding and showing longer app descriptions #}
{% include 'common/app_card_description.html' %}

{% endblock %}
