{% extends 'base.html' %}

{% block title %}Apps{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="row">
    <div class="col">
        <h3 class="h3 mb-3 me-5">
            Public applications and models
            {% if published_apps|length > 0 %}
            <span class="ghost-number">{{ published_apps|length }}</span>
            {% endif %}

        </h3>

        <div class="tag-list d-flex">
            {% for tf in request.session.app_tag_filters %}
            <div class="tag d-flex m-1">
                <span class="badge text-bg-primary  d-flex align-items-center">{{ tf }}
                    <a href="{% url 'portal:apps' %}?tf_remove={{ tf | urlencode }}">
                        <button type="submit" class="btn-close btn-close-white ms-1" name="tag" value="{{tag}}"
                        aria-label="Close"></button>
                    </a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if not published_apps %}
<p>No public apps available.</p>
{% endif %}

<div class="row g-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4">
            {% for app in published_apps %}
            <div class="col mb-4">
                {% include 'common/app_card.html' %}
            </div>
            {% endfor %}
        </div>
</div>

{# Including code for modals displaying Docker info #}
{% include 'common/app_card_docker_info.html' %}
{# Including code hiding and showing longer app descriptions #}
{% include 'common/app_card_description.html' %}

{% endblock %}
