{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}


<div class="container">
    <div class="row carousel-off">
        <div class="col-12 d-flex align-items-center justify-content-center mb-2">
            <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="max-width:400px;width:60%">
        </div>
        <div class="col-12 col-lg-8 offset-lg-2 d-flex align-items-center justify-content-center mb-4">
            <span class="text-center">
                SciLifeLab Serve (beta) is a platform offering machine learning model serving, app hosting, and other tools to life science researchers affiliated with a Swedish research institute.
            </span>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-center mb-3 mb-md-0 shadow" data-aos="fade">
                <div class="card-body">
                    <div class="rounded-top" style="min-height: 6rem;">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <img style="max-width:100%;" src="{% static 'images/api.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <h5 class="card-title fw-bold">Machine Learning model serving</h5>
                  <p class="card-text">Deploy your trained models and obtain API endpoints for inference requests.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-center mb-3 mb-md-0 shadow" data-aos="fade">
                <div class="card-body">
                    <div class="rounded-top" style="min-height: 6rem;">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <img style="max-width:100%;" src="{% static 'images/predgui.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <i class="bi bi-window-stack fs-1 carousel-icon-display"></i>
                  <h5 class="card-title fw-bold">ML model demo apps</h5>
                  <p class="card-text">Share web apps with a graphical user interface to allow users to make inferences with custom input.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-center mb-3 mb-md-0 shadow " data-aos="fade" >
                <div class="card-body">
                    <div class="rounded-top" style="min-height: 6rem;">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <img style="max-width:100%;" src="{% static 'images/shiny-app.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="bi bi-bar-chart-line fs-1 carousel-icon-display"></i>
                    <h5 class="card-title fw-bold">Data visualisation and analysis apps</h5>
                    <p class="card-text">Share web  apps with interactive visualisations, analyses, text, tables, etc based on publicly available data.</p>
                </div>
            </div>
        </div>

        {% comment %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-center py-2 mb-3 mb-md-0 shadow" data-aos="fade">
                <h1><i class="bi bi-code-slash"></i></h1>
                <div class="card-body">
                  <h5 class="card-title">Development environments</h5>
                  <p class="card-text">Use web-browser based IDEs to run analyses or to collaborate with your teammates. We offer web-based JupyterLab, RStudio, and VS Code.</p>
                </div>
            </div>
        </div>
        {% endcomment %}

    </div>
    <div class="row carousel-on">
        {% comment %} <div class="col-12 d-flex align-items-center justify-content-center mb-2">
            <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="max-width:400px;width:60%">
        </div> {% endcomment %}
        <div class="col-12 col-lg-8 offset-lg-2 d-flex align-items-center justify-content-center mb-4">

            <span class="text-center my-2">
                <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="max-width:160px;width:60%;vertical-align: text-bottom;">
                (beta) is a platform offering machine learning model serving, app hosting, web-based integrated development environments, and other tools to life science researchers affiliated with a Swedish research institute.
            </span>
        </div>

        <div id="carouselExampleControls" class="carousel slide pb-3 carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade">
                            <img src="{% static 'images/api.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Machine Learning model serving</h5>
                                <p class="card-text">Deploy your trained models and obtain API endpoints for inference requests. We support deployment of models packaged as docker images.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade">
                            <img src="{% static 'images/predgui.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Machine Learning model demo apps</h5>
                              <p class="card-text">Share web apps with a graphical user interface to allow users to make inferences with custom input. We support apps built using Gradio, Streamlit, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade">
                            <img src="{% static 'images/predgui.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Machine Learning model demo apps</h5>
                              <p class="card-text">Share web apps with a graphical user interface to allow users to make inferences with custom input. We support apps built using Gradio, Streamlit, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade">
                            <img src="{% static 'images/shiny-app.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Data visualisation and analysis apps</h5>
                                <p class="card-text">Share web  apps with interactive visualisations, analyses, text, tables, etc based on publicly available data. We support apps built using R Shiny, Plotly Dash, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade" >
                            <img src="{% static 'images/shiny-app.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Data visualisation and analysis apps</h5>
                                <p class="card-text">Share web  apps with interactive visualisations, analyses, text, tables, etc based on publicly available data. We support apps built using R Shiny, Plotly Dash, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch px-2 carousel-display">
                        <div class="card text-center pb-0 mb-3 mb-md-0 shadow rounded" data-aos="fade">
                            <img src="{% static 'images/api.png' %}" class="card-img-top pt-3 px-3" alt="...">
                            <div class="card-footer">
                                <h5 class="card-title fw-bold">Machine Learning model serving</h5>
                                <p class="card-text">Deploy your trained models and obtain API endpoints for inference requests. We support deployment of models packaged as docker images.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

    </div>

    <div class="row text-center justify-content-center border rounded bg-light mt-5">
        <div class="col-12 text-center">
            <h3 class="pt-4">Recent updates</h3>
            <hr class="m-0 bg-lime border-0" style="height: 2px;">
        </div>

          {% for app in published_apps_updated_on %}
        <div class="col-12 col-md-6 align-items-stretch mt-4 mb-2">
                <div class="card border-0 shadow my-2 rounded" data-aos="slide-up">
                    <a href="{{ app.url }}" class="stretched-link" target="_blank">
                    <div class="card-body text-start">
                        <div class="card-title d-flex justify-content-between align-items-center m-0">
                            <h5 class="">{{ app.name|truncatechars:30 }}</h5>
                            <div>
                                {% static 'images/logos/apps/' as static_url %}
                                <img style="height:40px;"
                                    src="{{static_url}}{{app.app.logo}}"
                                    alt="App Logo" title="{{app.app.name}}">
                            </div>
                        </div>
                        <div class="card-text">
                            {{ app.description|truncatechars:100 }}
                        </div>
                    </div>
                </a>
                    <div class="card-footer d-flex text-muted card-footer-text justify-content-between bg-teal-075">
                        <div class="text-start">
                            <span>{{ app.app.name }}</span>
                        </div>
                        <div class="text-end">
                            {% if app.updated_on|date:'d M, Y' == app.created_on|date:'d M, Y' %}
                            <span>Created: {{ app.created_on|date:"d M, Y" }}</span>
                            {% else %}
                            <span>Updated: {{ app.updated_on|date:"d M, Y" }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

        </div>
        {% endfor %}

        <div class="col-12 text-center my-2">
            <a class="text-muted" href="{% url 'portal:apps' %}" target="_self" title="All apps and models">Browse all apps and models</a>
        </div>
    </div>

    {% if collection_objects %}
    <div class="row text-center mt-5 align-items-center rounded" id="collections">
        <div class="col-12 text-center">
            <h3>Collections
            </h3>
            <div class="col-md-12">
                <p class="text-center small">Collections are groups of apps and models published on SciLifeLab Serve belonging to a research community, organization, or topic. <a href="/docs/collections/">Start a new collection?</a></p>
            </div>
            <hr class="m-0 bg-teal border-0 mb-1" style="height: 2px;">
        </div>

            {% for collection in collection_objects %}
            <div class="col-md-3 my-2">
                <a href="/collections/{{ collection.slug }}" class="collection-logo">
                {% if collection.logo %}
                    <img src="{{ collection.logo.url }}" alt="{{ collection.name }} logo" title="{{ collection.name }} logo" height="100px">
                {% else %}
                    <span class="fs-5 fst-italic">{{ collection.name }}</span>
                {% endif %}
                </a>
            </div>
            {% endfor %}
            {% if link_all_collections %}
            <div class="col-12 text-center">
                <a class="text-muted" href="{% url 'portal:collections_index' %}" target="_self" title="News">Browse all collections</a>
            </div>
            {% endif %}
    </div>
    {% endif %}
    <div class="row text-center mt-5">
    {% if events_objects %}
        <div class="col-12 col-md-6 align-items-stretch mt-4 mb-2">
        <div class="col-12 text-center">
            <h3>Events</h3>
            <hr class="m-0 bg-grape border-0" style="height: 2px;">
        </div>

            {% for event in events_objects %}
            <div class="col-md-12">
                <div class="card border bg-white my-2 my-md-4 rounded" data-aos="slide-up">

                    <a href="{% url 'portal:events' %}#{{ event.title|slugify }}" class="stretched-link">
                    <div class="card-body text-start py-0">
                        <div class="card-title d-flex align-items-center" style="display: flow!important;">
                            {{ event.future }}
                            <div class="row">
                                <div class="d-sm-none d-md-block col-lg-2 col-xl-2">
                                        <div class="px-2 pb-2 mt-3 d-flex flex-column rounded {% if event.past %}bg-teal-075{% else %}bg-teal{% endif %}">
                                        <div class="fs-5 mx-auto text-light">{{ event.start_time|date:"j" }}</div>
                                        <div class="mx-auto text-light small">{{ event.start_time|date:"M" }}</div>
                                        </div>
                                </div>
                                <div class="col-sm-10 col-lg-10 col-lx-10">
                                    <div class="card-body">
                                    <h5>{{ event.title }}</h5>
                                    <p><b>
                                        {% if event.start_time|date:"Y-m-d" == event.end_time|date:"Y-m-d" %}
                                            {{ event.start_time|date:"M. j, Y" }} {{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}
                                        {% else %}
                                            {{ event.start_time|date:"M. j, Y, H:i" }} - {{ event.end_time|date:"M. j, Y, H:i" }}
                                        {% endif %}</b>,
                                    </br>
                                    <i>{{ event.venue }}</i></p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            {% if link_all_events %}
            <div class="col-12 text-center">
                <a class="text-muted" href="{% url 'portal:events' %}" target="_self" title="Events">Browse all events</a>
            </div>
            {% endif %}
    </div>
    {% endif %}
    {% if news_objects %}
        <div class="col-12 col-md-6 align-items-stretch mt-4 mb-2">
        <div class="col-12 text-center">
            <h3>News
            </h3>
            <hr class="m-0 bg-teal border-0" style="height: 2px;">
        </div>

            {% for news in news_objects %}
            <div class="col-md-12">
                <div class="card border bg-white my-4 rounded" data-aos="slide-up">

                    <p class="text-muted card-footer-text text-end p-1 m-0">{{ news.created_on|date:"M. j, Y, H:i" }}</p>
                    <a href="{% url 'portal:news' %}#{{ news.title|slugify }}" class="stretched-link">
                    <div class="card-body text-start py-0">
                        <div class="card-title d-flex justify-content-between align-items-center">

                                <h5 class="text-grape">{{ news.title }}</h5>

                        </div>
                            <p class="card-text mb-2">{{ news.body_html|safe|truncatewords:30 }}</p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            {% if link_all_news %}
            <div class="col-12 text-center">
                <a class="text-muted" href="{% url 'portal:news' %}" target="_self" title="News">Browse all news</a>
            </div>
            {% endif %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
