{% extends 'base.html' %}

{% load static %}
{% block title %}Roadmap{% endblock %}

{% block content %}

{% include "breadcrumbs/bc_about_pages.html" with breadcrumb_currentpage_title="Roadmap" %}

  <div class="row">

    {% include "portal/sidebar_about_pages.html" %}

    <div class="col-lg-10">

      <h2>Roadmap</h2>
      <hr class="bg-teal border-0 mb-3" style="height: 2px;">

      <p>Here we provide an overview of current and future focus areas for further development of the functionality
        of SciLifeLab Serve. The team behind the platform regularly reviews and updates the long-term plan. When planning
        work we always take into account the feedback that we receive from our users through various channels when
        planning our work. Feel free to <a href="{% url 'portal:contact' %}">get in touch with us</a> with questions, comments, and suggestions.
      </p>

      <h3>Current work</h3>

      <div class="row">
        <div class="col-lg-4 mt-2 mt-lg-0">
      <div class="card">
        <div class="card-body">
          <h4>Metadata and FAIR improvements</h4>
          <p class="card-text">We will be collecting additional information about applications and models published on SciLifeLab Serve
            (such as list of authors and source of funding). We will also be registering Digital Object Identifiers
            (DOIs) to allow tracking of metadata and citation of applications and models.</p>
        </div>
          <div class="card-footer"><p>Planned for Q1 2026</p></div>
      </div>
      </div>

      <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Improved workflow for app creation & better feedback</h4>
          <p class="card-text">For newly created applications, a multi-step process will be launched that
            will provide feedback if there is an issue with the provided Docker image or elsewhere.
            This way we hope to make catching issues and troubleshooting easier for app authors.</p>
        </div>
          <div class="card-footer"><p>Planned for Q1 2026</p></div>
      </div>
      </div>

      <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Access to an API endpoint to interact with LLM(s)</h4>
          <p class="card-text">We will provide an API endpoint for application developers that will allow their apps to interact with one
            or more LLMs. The apps will then need to be made available through SciLifeLab Serve.</p>
        </div>
          <div class="card-footer"><p>Planned for Q1 2026</p></div>
      </div>
      </div>

      </div>

      <h3>Near-term work</h3>

      <div class="row">
          <div class="col-lg-4 mt-2 mt-lg-0">
            <div class="card">
              <div class="card-body">
                <h4>Cluster internal security improvements</h4>
                <p class="card-text">We will focus on improving security on the cluster where SciLifeLab Serve is hosted.
                  For example, already now applications and models in projects are isolated from those in
                  other projects; we will make this separation stronger.</p>
              </div>
                <div class="card-footer"><p>Planned for Q2-Q3 2026</p></div>
            </div>
          </div>

          <div class="col-lg-4 mt-2 mt-lg-0">
            <div class="card">
              <div class="card-body">
                <h4>Login using university credentials</h4>
                <p class="card-text">We will allow users to log in to SciLifeLab Serve using their Swedish university
                  credentials (and without the need to register separately). Those who do not have these credentials will be able to
                log in using a login and a password as before.</p>
              </div>
                <div class="card-footer"><p>Planned for Q2-Q3 2026</p></div>
            </div>
          </div>

          <div class="col-lg-4 mt-2 mt-lg-0">
            <div class="card">
              <div class="card-body">
                <h4>Privileged user category</h4>
                <p class="card-text">We will implement a new category of users that will have more permissions
                  than regular users. For example, the privileged users will be allowed to create a higher number
                of projects and apps as well as to get more storage per project.</p>
              </div>
                <div class="card-footer"><p>Planned for Q3-Q4 2026</p></div>
            </div>
          </div>

      </div>


      <h3>Long-term work</h3>

      <div class="row">
        <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Improved model-serving functionality</h4>
          <p class="card-text">We will improve the user experience and useability of deploying and using machine learning models through SciLifeLab Serve.</p>
        </div>
          <div class="card-footer"><p>Planned 2026</p></div>
      </div>
        </div>

      <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>LLM-empowered application creation</h4>
          <p class="card-text">We will integrate an interface allowing to build data science applications by interacting with an LLM
            through a chat interface. These applications can then be published on SciLifeLab Serve.</p>
        </div>
          <div class="card-footer"><p>Planned 2026</p></div>
      </div>
        </div>

      </div>

      <h3>Past work</h3>

      <div class="row">

      <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Improved web accessibility of the website</h4>
          <p class="card-text">We will review and update our webpages to meet the
            Web Content Accessibility Guidelines (WCAG) 2.2.</p>
        </div>
          <div class="card-footer"><p>Released Q4 2025</p></div>
      </div>
        </div>

      <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Support for model deployment with GPUs</h4>
          <p class="card-text">We will allow users to publish models with access to GPUs to run inferences. We will start with a few pilot
            projects before making it widely available. Get in touch with us if you are interested in being a pilot
            user.</p>
        </div>
          <div class="card-footer"><p>Released Q2 2025</p></div>
      </div>
        </div>


        <div class="col-lg-4 mt-2 mt-lg-0">
        <div class="card">
        <div class="card-body">
          <h4>Integration of MLFLow for ML experiment tracking</h4>
          <p class="card-text">We will allow users of SciLifeLab Serve to launch their own instances of the platform <a href="https://mlflow.org/"
            target="_blank" rel="noopener noreferrer"> MLflow <span class="sr-only">(opens in a new tab)</span>
            </a> that allows to keep track of models and artifacts in machine learning
            work. Users will be able to send data to their instance from anywhere where they are doing training or
            analyses.</p>
        </div>
          <div class="card-footer"><p>Released Q1 2025</p></div>
      </div>
        </div>

      </div>

      <p class="text-muted fst-italic" data-gh-updated hidden>
        Page last updated:
        <span data-gh-path="templates/portal/roadmap.html"></span>
      </p>

    </div>
  </div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/gh_last_updated_date.js' %}"></script>
{% endblock %}
