{% extends 'base.html' %}
{% load static %}
{% load is_disabled %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <!-- Outer Row -->
{% if not maintenance_mode|is_disabled %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">
      {% include 'common/flash_messages.html' %}
      <div class="card border-0 shadow-lg my-5 py-5">
        <div class="card-body">
          <!-- Nested Row within Card Body -->
          <div class="col-lg-6 offset-lg-3">

            <div class="col text-center">
              <h2 class="text-dark mb-4">Log in</h2>
            </div>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
							<p class="mb-0">Your email and password didn't match. Please try again.</p>
							<p class="mb-0">Alternatively, it could be that you didn't verify your email address yet. Please check your inbox for an email from us with a verification link.</p>
            </div>
            {% endif %}

            {% if next %}
            <div class="alert alert-danger" role="alert">
                {% if user.is_authenticated %}
                  Your account doesn't have access to this page. To proceed,
                  please login with an account that has access.
                {% else %}
                  Please login to see this page.
                {% endif %}
              </div>
            {% endif %}



            <div class="py-4 d-flex justify-content-center">

              <div class="w-100">
                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="form-group pb-2">
                    <label for="username-id">Email:</label>
                    <input type="text" class="form-control" id="username-id" name="username">
                  </div>
                  <div class="form-group pb-3">
                    <label for="password-id">Password:</label>
                    <input type="password" class="form-control" id="password-id" name="password">
                  </div>
                  <div class="form-group d-flex justify-content-center"><button type="submit"
                      class="btn btn-primary w-xs-100 px-5">Login</button></div>
                </form>
              </div>

            </div>
            <div class="text-center">
              <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            <div class="text-center">
              <a href="{% url 'common:signup' %}">Don't have an account? Sign up here</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>



{% endblock %}
