{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-sm py-5">
  <!-- Main Content Here -->
  <div class="card border-0 shadow h-100">
    <div class="card-header d-flex card-header-text justify-content-between">
      <div>
          <h3 class="card-title mb-0 fw-bold">Change your password</h3>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="row pt-3">
              <div class="col">
                <label class="form-label" for="id_old_password">{{ form.old_password.label_tag }}</label>
                <input required class="form-control" type="password" name="old_password" id="id_old_password">
              </div>
            </div>


            <div class="row pt-3">
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password1">{{ form.new_password1.label_tag }}</label>
                <input required class="form-control" type="password" name="new_password1" id="id_new_password1">
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password2">{{ form.new_password2.label_tag }}</label>
                <input required class="form-control" type="password" name="new_password2" id="id_new_password2">
              </div>
            </div>

            <div class="row pt-3">
              <div class="col">

                {{form.new_password1.help_text}}
              </div>
            </div>
              <!-- old_password -->
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-outline-dark btn-outline-cancel me-2" href="/">Cancel</a>
        <button type="submit" class="btn btn-primary gradient">Change</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
