{% load i18n %}{% autoescape off %}
{% load get_setting %}
{% blocktrans %}Hey, You're receiving this email because you requested a password reset for your user account on SciLifeLab Serve {% endblocktrans %}({% get_setting "DOMAIN" %}).


{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% get_setting "EMAIL_TEMPLATE_PROTOCOL" %}://{% get_setting "DOMAIN" %}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username is your email, in case you've forgotten:" %} {{ user.get_username }}

{% blocktrans %}SciLifeLab Serve team{% endblocktrans %}

{% endautoescape %}
