{% extends 'base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-sm py-5">
  <!-- Main Content Here -->
  <div class="card border-0 shadow h-100">
    <div class="card-header d-flex card-header-text justify-content-between">
      <div>
          <h3 class="card-title mb-0 fw-bold">Change your password</h3>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="row pt-3">
              <div class="col">
                <label class="form-label" for="id_old_password">{{ form.old_password.label_tag }}</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                <div id="validation_old_password" class="pt-1 invalid-feedback">
                  {% for error in form.old_password.errors %}
                  <p class="m-0">{{error|escape}}</p>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>


            <div class="row pt-3">
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password1">{{ form.new_password1.label_tag }}</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div id="validation_new_password1" class="pt-1 invalid-feedback">
                  {% for error in form.new_password1.errors %}
                  <p class="m-0">{{error|escape}}</p>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password2">{{ form.new_password2.label_tag }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div id="validation_new_password2" class="pt-1 invalid-feedback">
                  {% for error in form.new_password2.errors %}
                  <p class="m-0">{{error|escape}}</p>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>

            <div class="row pt-3">
              <div class="col">
                <div class="alert alert-password mb-0" role="alert" id="password_requirements">
                  {{form.new_password1.help_text}}
                </div>
              </div>
            </div>
              <!-- old_password -->
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-outline-dark btn-outline-cancel me-2" href="/">Cancel</a>
        <button type="submit" class="btn btn-primary gradient">Change</button>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/password_validation.js' %}">
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {

    const password = document.getElementById("id_new_password1");
    const password_element_name = "id_new_password1";
    const password2_element_name = "id_new_password2";
    const url = "{% url 'api:validate_password' %}"
    const data = {password: password.value, email: "{{ user.email }}", first_name: "{{ user.first_name }}", last_name: "{{ user.last_name}}"};
    PasswordEvents(password_element_name, password2_element_name, data, url);
  });
</script>
{% endblock content %}
