{% extends 'base.html' %}

{% block title %}Registration complete{% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid p-0">

    <div class="row">
        <div class="card flex-fill">
            <div class="card-header">
                <div class="row g-1 py-1 row-cols-1 row-cols-lg-1">
                    <div class="feature col">
                        <h1>Account registration complete!</h1>
                        <p>Thank you for signing up! Before you can begin to make use of the resources the SciLifeLab
                        Serve team has to approve the account. Please contact <a
                          href="mailto:serve@scilifelab.se">serve@scilifelab.se</a> if you have any questions.</p>
                    </div>
            </div>

          </div>
      </div>
  </div>
{% endblock %}
