{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% load static %}

{% block extra_scripts %}
	<script src="{% static 'js/form-helpers.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2">
                    <div class="px-3 py-5">
                        <div class="row">
                            <div class="col">
								<div class="col">
								<h2 class="text-dark mb-4 text-center">Register</h2>
                                <p class="my-4">All life science researchers affiliated with a Swedish research institution as well as their international collaborators can create an account on SciLifeLab Serve in order to host their own models or applications. See our user guide for <a href="#">more info on accounts</a>.</p>
								</div>
                            </div>
                        </div>

                        <div class="mw-30 m-auto pt-1">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row pb-3">
                                    <div class="col-12">
                                        <label class="form-label">{{form.email.label_tag}}</label>
                                        {{form.email}}
                                        <div class="form-text">{{form.email.help_text}}</div>
                                        {% if form.email.errors %}
                                        <div id="validation_email" class="invalid-feedback pt-1">
                                            {% for error in form.email.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="id_request_account_info" class="rollable">
																	<div class="row pb-3">
                                    <div class="col-12 ">
                                        <label class="form-label">{{profile_form.why_account_needed.label_tag}}</label>
									    {{ profile_form.why_account_needed }}
                                        <div class="form-text">{{profile_form.why_account_needed.help_text}}</div>
                                      {% if profile_form.why_account_needed.errors %}
                                      <div id="validation_why_account_needed" class="invalid-feedback pt-1">
                                          {% for error in profile_form.why_account_needed.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                          {% endfor %}
                                      </div>
                                      {% endif %}
																		</div>
																	</div>
																</div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.first_name.label_tag}}</label>
                                        {{form.first_name}}
                                    {% if form.first_name.errors %}
                                    <div class="form-text">{{form.first_name.help_text}}</div>
                                    <div id="validation_first_name" class="invalid-feedback pt-1">
                                        {% for error in form.first_name.errors %}
                                          <p class="m-0">{{error|escape}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.last_name.label_tag}}</label>
                                        {{form.last_name}}
                                        <div class="form-text">{{form.last_name.help_text}}</div>
                                      {% if form.last_name.errors %}
                                      <div id="validation_last_name" class="pt-1 invalid-feedback">
                                          {% for error in form.last_name.errors %}
                                          <p class="m-0">{{error|escape}}</p>
                                          {% endfor %}
                                      </div>
                                      {% endif %}
                                    </div>
                                </div>

																<div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{profile_form.affiliation.label_tag}}</label>
										{{ profile_form.affiliation }}
                                        <div class="form-text">{{profile_form.affiliation.help_text}}</div>
                                      {% if profile_form.affiliation.errors %}
                                        <div id="validation_affilation" class="pt-1 invalid-feedback">
                                            {% for error in profile_form.affiliation.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                      {% endif %}
									</div>
										<div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{profile_form.department.label_tag}}</label>
										{{ profile_form.department }}
                                        <div class="form-text">{{profile_form.department.help_text}}</div>
                                      {% if profile_form.department.errors %}
                                        <div id="validation_department" class="pt-1 invalid-feedback">
                                            {% for error in profile_form.department.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                      {% endif %}
																		</div>
																</div>



                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.password1.label_tag}}</label>
                                        {{form.password1}}
                                        <div class="form-text">{{form.password1.help_text}}</div>
                                        {% if form.password1.errors %}
                                        <div id="validation_password1" class="pt-1 invalid-feedback">
                                            {% for error in form.password1.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.password2.label_tag}}</label>
                                        {{form.password2}}
                                        <div class="form-text">{{form.password2.help_text}}</div>
                                        {% if form.password2.errors %}
                                        <div id="validation_password2" class="pt-1 invalid-feedback">
                                            {% for error in form.password2.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>



                                </div>
									<div class="row pb-3">
										<div class="col-12">
                                        <label class="form-label">{{profile_form.note.label_tag}}</label>
										{{ profile_form.note }}
                                        <div class="form-text">{{profile_form.note.help_text}}</div>
										</div>
										</div>

                                <div class="row">
                                    <div class="d-flex justify-content-end">

                                        <a href="/" class="btn me-2">Cancel</a>
                                        <input type="submit" name="save" value="Submit" class="btn btn-primary ms-2"
                                            id="submit-id-save">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
                                </div>
                                <div class="row">
                                    <div class="col"><a href="{% url 'login' %}">Already have an account? Login here</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
