{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% load static %}
{% load is_login_signup_disabled %}
{% block extra_scripts %}
	<script src="{% static 'js/form-helpers.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">
    {% if not maintenance_mode|is_login_signup_disabled %}
    <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2">
                    <div class="px-3 py-5">
                        <div class="row">
                            <div class="col">
								<div class="col">
								<h2 class="text-dark mb-4 text-center">Register</h2>
                                <p class="my-4">All life science researchers affiliated with a Swedish research institution as well as their international collaborators can create an account on SciLifeLab Serve in order to host their own models or applications. See our user guide for <a href="/docs/user-accounts/">more info on accounts</a>.</p>
								</div>
                            </div>
                        </div>

                        <div class="mw-30 m-auto pt-1">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row pb-3">
                                    <div class="col-12">
                                        <label class="form-label">{{form.email.label_tag}}</label>
                                        {{form.email}}
                                        <div class="form-text">{{form.email.help_text}}</div>
                                        {% if form.email.errors %}
                                        <div id="validation_email" class="invalid-feedback pt-1">
                                            {% for error in form.email.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="id_request_account_info" class="rollable">
																	<div class="row pb-3">
                                    <div class="col-12 ">
                                        <label class="form-label">{{profile_form.why_account_needed.label_tag}}</label>
									    {{ profile_form.why_account_needed }}
                                        <div class="form-text">{{profile_form.why_account_needed.help_text}}</div>
                                      {% if profile_form.why_account_needed.errors %}
                                      <div id="validation_why_account_needed" class="invalid-feedback pt-1">
                                          {% for error in profile_form.why_account_needed.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                          {% endfor %}
                                      </div>
                                      {% endif %}
																		</div>
																	</div>
																</div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.first_name.label_tag}}</label>
                                        {{form.first_name}}
                                    {% if form.first_name.errors %}
                                    <div class="form-text">{{form.first_name.help_text}}</div>
                                    <div id="validation_first_name" class="invalid-feedback pt-1">
                                        {% for error in form.first_name.errors %}
                                          <p class="m-0">{{error|escape}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.last_name.label_tag}}</label>
                                        {{form.last_name}}
                                        <div class="form-text">{{form.last_name.help_text}}</div>
                                      {% if form.last_name.errors %}
                                      <div id="validation_last_name" class="pt-1 invalid-feedback">
                                          {% for error in form.last_name.errors %}
                                          <p class="m-0">{{error|escape}}</p>
                                          {% endfor %}
                                      </div>
                                      {% endif %}
                                    </div>
                                </div>

																<div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{profile_form.affiliation.label_tag}}</label>
										{{ profile_form.affiliation }}
                                        <div class="form-text">{{profile_form.affiliation.help_text}}</div>
                                      {% if profile_form.affiliation.errors %}
                                        <div id="validation_affiliation" class="pt-1 invalid-feedback">
                                            {% for error in profile_form.affiliation.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                      {% endif %}
									</div>


                                    




										<div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{profile_form.department.label_tag}}</label>
										{{ profile_form.department | safe }}
                                        <div class="form-text">{{profile_form.department.help_text}}</div>
                                      {% if profile_form.department.errors %}
                                        <div id="validation_department" class="pt-1 invalid-feedback">
                                            {% for error in profile_form.department.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                      {% endif %}
																		</div>
																</div>


<!-- Oranization Block: -->
                                <div class="row pb-3">
    <div class="col-12 col-md-6 pb-3 pb-md-0">
        <label class="form-label">{{profile_form.organization.label_tag}}</label>
        {{ profile_form.organization }}
        <input type="hidden" id="organization-data" name="organization_data">
        <div id="organization-suggestions" class="list-group position-absolute" style="z-index: 1000; max-height: 300px; overflow-y: auto; display: none;"></div>
        <div class="form-text">{{profile_form.organization.help_text}}</div>
        {% if profile_form.organization.errors %}
        <div id="validation_organization" class="pt-1 invalid-feedback">
            {% for error in profile_form.organization.errors %}
            <p class="m-0">{{error|escape}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </div>



                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.password1.label_tag}}</label>
                                        {{form.password1}}
                                        {% if form.password1.errors %}
                                        <div id="validation_password1" class="pt-1 invalid-feedback">
                                            {% for error in form.password1.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        <label class="form-label">{{form.password2.label_tag}}</label>
                                        {{form.password2}}
                                        <div class="form-text">{{form.password2.help_text}}</div>
                                        {% if form.password2.errors %}
                                        <div id="validation_password2" class="pt-1 invalid-feedback">
                                            {% for error in form.password2.errors %}
                                            <p class="m-0">{{error|escape}}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                <div class="form-text">

                                          <div class="alert alert-password mb-0" role="alert" id="password_requirements">
                                            {{form.password1.help_text}}
                                          </div>
                                </div>


                                </div>
									<div class="row pb-3">
										<div class="col-12">
                                        <label class="form-label">{{profile_form.note.label_tag}}</label>
										{{ profile_form.note }}
                                        <div class="form-text">{{profile_form.note.help_text}}</div>
										</div>
										</div>

                                <div class="row">
                                    <div class="d-flex justify-content-end">

                                        <a href="/" class="btn btn-outline-dark btn-outline-cancel me-2">Cancel</a>
                                        <input type="submit" name="save" value="Submit" class="btn btn-primary ms-2"
                                            id="submit-id-save">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
                                </div>
                                <div class="row">
                                    <div class="col"><a href="{% url 'login' %}">Already have an account? Login here</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/password_validation.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {

    const password = document.getElementById("id_password1");
    const password_element_name = "id_password1";
    const password2_element_name = "id_password2";
    const url = "{% url 'api:validate_password' %}"
    const data = {password: password.value, email: "{{ user.email }}", first_name: "{{ user.first_name }}", last_name: "{{ user.last_name}}"};
    PasswordEvents(password_element_name, password2_element_name, data, url);
  });



// Organization auto-complete
document.addEventListener('DOMContentLoaded', function() {
    const orgInput = document.getElementById('organization-autocomplete');
    const orgDataInput = document.getElementById('organization-data');
    const suggestionsDiv = document.getElementById('organization-suggestions');
    let selectedOrgData = null;
    let debounceTimer;

    orgInput.addEventListener('input', function() {
        clearTimeout(debounceTimer);
        const query = this.value.trim();
        
        if (query.length < 2) {
            suggestionsDiv.style.display = 'none';
            return;
        }

        debounceTimer = setTimeout(() => {
            fetch(`/api/ror-autocomplete/?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsDiv.innerHTML = '';
                    
                    if (data.results && data.results.length > 0) {
                        data.results.forEach(org => {
                            const item = document.createElement('a');
                            item.href = '#';
                            item.className = 'list-group-item list-group-item-action';
                            item.textContent = org.title;
                            item.addEventListener('click', (e) => {
                                e.preventDefault();
                                orgInput.value = org.title;
                                selectedOrgData = {
                                    title: org.title,
                                    ror_id: org.ror_id
                                };
                                orgDataInput.value = JSON.stringify(selectedOrgData);
                                suggestionsDiv.style.display = 'none';
                            });
                            suggestionsDiv.appendChild(item);
                        });
                        suggestionsDiv.style.display = 'block';
                    } else {
                        suggestionsDiv.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('ROR autocomplete error:', error);
                    suggestionsDiv.style.display = 'none';
                });
        }, 300);
    });

    // Handle manual entry (no ROR match)
    orgInput.addEventListener('blur', function() {
        setTimeout(() => {
            if (!selectedOrgData && orgInput.value.trim()) {
                selectedOrgData = {
                    title: orgInput.value.trim(),
                    ror_id: "no ror"
                };
                orgDataInput.value = JSON.stringify(selectedOrgData);
            }
            suggestionsDiv.style.display = 'none';
        }, 200);
    });

    // Clear selection when user starts typing again
    orgInput.addEventListener('focus', function() {
        selectedOrgData = null;
    });

    // Handle keyboard navigation
    orgInput.addEventListener('keydown', function(e) {
        const items = suggestionsDiv.querySelectorAll('.list-group-item');
        if (items.length === 0) return;

        const activeItem = suggestionsDiv.querySelector('.active');
        let index = Array.from(items).indexOf(activeItem);

        if (e.key === 'ArrowDown') {
            e.preventDefault();
            if (activeItem) activeItem.classList.remove('active');
            index = (index + 1) % items.length;
            items[index].classList.add('active');
            items[index].scrollIntoView({ block: 'nearest' });
        } else if (e.key === 'ArrowUp') {
            e.preventDefault();
            if (activeItem) activeItem.classList.remove('active');
            index = index <= 0 ? items.length - 1 : index - 1;
            items[index].classList.add('active');
            items[index].scrollIntoView({ block: 'nearest' });
        } else if (e.key === 'Enter' && activeItem) {
            e.preventDefault();
            activeItem.click();
        } else if (e.key === 'Escape') {
            suggestionsDiv.style.display = 'none';
        }
    });

    // Hide suggestions when clicking outside
    document.addEventListener('click', function(e) {
        if (!orgInput.contains(e.target) && !suggestionsDiv.contains(e.target)) {
            suggestionsDiv.style.display = 'none';
        }
    });
});
</script>
{% endblock %}
