{% extends 'base.html' %}

{% block title %}Verification Token reset{% endblock %}

{% block content %}

<div class="container">
  <div class="card shadow-lg my-5">
    <div class="card-body">

      <div class="row justify-content-md-center py-3">

        <div class="col col-md-6">
          <div class="row">
            <div class="col">
              <h2>Verification Token reset</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p class="m-0">We've emailed you with the verification token.</p>
              <p class="m-0">If you don't receive an email, please make sure you've entered the address you registered
                with.
              </p>
              <p class="m-0">If you are still experiencing technical difficulties, please contact us at
              <a href="mailto:serve@scilifelab.se">serve@scilifelab.se</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
