{% extends 'base.html' %}

{% block title %}Account Verification{% endblock %}

{% load static %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.token.label_tag }}
    {{ form.token }}
    {% if form.token.help_text %}
    <small class="form-text text-muted">{{ form.token.help_text }}</small>
    {% endif %}
    {% if form.token.errors %}
    <div class="invalid-feedback">
        {% for error in form.token.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <input type="submit" value="Verify Account" class="btn btn-primary" id="submit-id-verify">
</form>

{% endblock %}
