{% extends 'base.html' %}

{% block title %}Verification Token reset{% endblock %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="card border-0 shadow-lg my-5 py-5">
          <div class="card-body">
            <div class="col-lg-6 offset-lg-3">
              <div class="col text-center">
                <h2 class="text-dark mb-4">Reset Verification Token</h2>
              </div>

              <div class="py-4 d-flex justify-content-center">

                <div class="w-100">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Reset" class="btn btn-primary" id="submit-id-verify">
                    </form>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
