/* SciLifeLab brand colors
  use 1, 0.75, 0.50, or 0.25
  color: rgba(167, 201, 71, 1);  lime
  color: rgba(73, 31, 83, 1);  grape, use as "color pop" or on smaller details
  color: rgba(4, 92, 100, 1);  teal
  color: rgba(76, 151, 159, 1); aqua

  grape tints:
  grape: #491F53, RGB: 73/31/83
  75%: #77577E, RGB:119/87/126
  50%: #A48FA9, RGB: 164/143/169
  25%: #D2C7D4, RGB: 210/199/212

  shades of black between 5-90% used as complementary colors
  color: rgba(229, 229, 229, 1); light grey
  color: rgba(166,166,166, 1); medium grey
  color: rgba(63,63,63,1); dark grey
*/

:root {

    --serve-black-background: #f0f8ff00;
    --serve-black-background-rgb: 240, 248, 255;
    --serve-grey-value-text: #696969;
    --serve-grey-value-text-rgb: rgb(105, 105, 105);
    --serve-grey-ghost-text: #9ca3af;
    --serve-grey-ghost-text-rgb: 156, 163, 175;

    --serve-lime: #a7c947;
    --serve-lime-075: #a7c947bf;
    --serve-lime-050: #a7c94780;
    --serve-lime-025: #a7c94740;

    --serve-grape: #491F53;
    --serve-grape-075: #77577E;
    --serve-grape-050: #A48FA9;
    --serve-grape-025: #D2C7D4;

    --serve-light-grey: #e5e5e5;
    --serve-medium-grey: #a6a6a6;
    --serve-dark-grey: #3f3f3f;

    --serve-black: #000000;

    --scaleout-black: #191919;
    --scaleout-red: #E0746D;
    --scaleout-yellow: #EBD886;
    --scaleout-green: #81B967;
    --scaleout-white: #FFFFFF;
    --scaleout-grey-1: #F8F8F8;
    --scaleout-grey-2: #F2F5F9;
    --scaleout-grey-3: #F2F6F5;
    --scaleout-grey-4: #FEFAE9;
    --scaleout-grey-5: #F6EDE4;
    --scaleout-grey-6: #DDDDDD;

    --bs-link-color: var(--serve-black);
    --bs-link-decoration: none;
    --bs-link-hover-color: var(--serve-black);

    --bs-blue: var(--serve-black);
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: var(--scaleout-red);
    --bs-orange: #fd7e14;
    --bs-yellow: var(--scaleout-yellow);
    --bs-green: var(--serve-lime);
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: var(--serve-black);
    --bs-white: var(--scaleout-white);
    --bs-gray: var(--scaleout-grey-1);
    --bs-gray-dark: var(--scaleout-grey-6);
    --bs-gray-100: var(--scaleout-grey-1);
    --bs-gray-200: var(--scaleout-grey-1);
    --bs-gray-300: var(--scaleout-grey-2);
    --bs-gray-400: var(--scaleout-grey-2);
    --bs-gray-500: var(--scaleout-grey-3);
    --bs-gray-600: var(--scaleout-grey-3);
    --bs-gray-700: var(--scaleout-grey-4);
    --bs-gray-800: var(--scaleout-grey-5);
    --bs-gray-900: var(--scaleout-grey-6);
    --bs-primary: var(--serve-black);
    --bs-secondary: var(--scaleout-grey-6);
    --bs-success: var(--serve-lime);
    --bs-info: var(--scaleout-grey-6);
    --bs-warning: var(--scaleout-yellow);
    --bs-danger: var(--scaleout-red);
    --bs-light: var(--scaleout-grey-1);
    --bs-dark: var(--serve-black);
}

.bg-grey-1 {
    background-color: var(--scaleout-grey-1);
}

.bg-grey-2 {
    background-color: var(--scaleout-grey-2);
}

.bg-grey-3 {
    background-color: var(--scaleout-grey-3);
}

.bg-grey-4 {
    background-color: var(--scaleout-grey-4);
}

.bg-grey-5 {
    background-color: var(--scaleout-grey-5);
}

.bg-grey-6 {
    background-color: var(--scaleout-grey-6);
}

.text-red {
    color: var(--scaleout-red);
}
