:root {

    --serve-black-background: #f0f8ff00;
    --serve-black-background-rgb: 240, 248, 255;
    --serve-grey-value-text: #696969;
    --serve-grey-value-text-rgb: rgb(105, 105, 105);
    --serve-grey-ghost-text: #9ca3af;
    --serve-grey-ghost-text-rgb: 156, 163, 175;

    --serve-lime: #a7c947;
    --serve-lime-075: #BDD775;
    --serve-lime-050: #D3E4A3;
    --serve-lime-025: #E9F2D1;

    --serve-grape: #491F53;
    --serve-grape-075: #77577E;
    --serve-grape-050: #A48FA9;
    --serve-grape-025: #D2C7D4;

    --serve-teal: #045C64;
    --serve-teal-075: #C0D6D8;
    --serve-teal-050: #82AEB2;
    --serve-teal-025: #43858B;

    --serve-light-grey: #e5e5e5;
    --serve-medium-grey: #a6a6a6;
    --serve-dark-grey: #3f3f3f;

    --serve-yellow: #fffdab;
    --serve-yellow-075: #fffdabb0;
    --serve-yellow-050: #fffdab70;

    --scaleout-black: #191919;
    --scaleout-red: #E0746D;
    --scaleout-yellow: #EBD886;
    --scaleout-green: #81B967;
    --scaleout-white: #FFFFFF;
    --scaleout-grey-1: #F8F8F8;
    --scaleout-grey-2: #F2F5F9;
    --scaleout-grey-3: #F2F6F5;
    --scaleout-grey-4: #FEFAE9;
    --scaleout-grey-5: #F6EDE4;
    --scaleout-grey-6: #DDDDDD;

    --bs-link-color: var(--serve-dark-grey);
    --bs-link-decoration: none;
    --bs-link-hover-color: var(--serve-dark-grey);

    --bs-blue: var(--serve-dark-grey);
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: var(--scaleout-red);
    --bs-orange: #fd7e14;
    --bs-yellow: var(--scaleout-yellow);
    --bs-green: var(--scaleout-green);
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: var(--serve-dark-grey);
    --bs-white: var(--scaleout-white);
    --bs-gray: var(--scaleout-grey-1);
    --bs-gray-dark: var(--scaleout-grey-6);
    --bs-gray-100: var(--scaleout-grey-1);
    --bs-gray-200: var(--scaleout-grey-1);
    --bs-gray-300: var(--scaleout-grey-2);
    --bs-gray-400: var(--scaleout-grey-2);
    --bs-gray-500: var(--scaleout-grey-3);
    --bs-gray-600: var(--scaleout-grey-3);
    --bs-gray-700: var(--scaleout-grey-4);
    --bs-gray-800: var(--scaleout-grey-5);
    --bs-gray-900: var(--scaleout-grey-6);
    --bs-primary: var(--serve-dark-grey);
    --bs-secondary: var(--scaleout-grey-6);
    --bs-success: var(--scaleout-green);
    --bs-info: var(--scaleout-grey-6);
    --bs-warning: var(--scaleout-yellow);
    --bs-danger: var(--scaleout-red);
    --bs-light: var(--scaleout-grey-1);
    --bs-dark: var(--serve-dark-grey);
}

.bg-grey-1 {
    background-color: var(--scaleout-grey-1);
}

.bg-grey-2 {
    background-color: var(--scaleout-grey-2);
}

.bg-grey-3 {
    background-color: var(--scaleout-grey-3);
}

.bg-grey-4 {
    background-color: var(--scaleout-grey-4);
}

.bg-grey-5 {
    background-color: var(--scaleout-grey-5);
}

.bg-grey-6 {
    background-color: var(--scaleout-grey-6);
}

.bg-lime{
    background-color: var(--serve-lime);
}

.bg-lime-075{
    background-color: var(--serve-lime-075);
}

.bg-lime-050{
    background-color: var(--serve-lime-050);
}

.bg-lime-025{
    background-color: var(--serve-lime-025);
}

.bg-grape{
    background-color: var(--serve-grape);
}

.bg-grape-075{
    background-color: var(--serve-grape-075);
}

.bg-grape-050{
    background-color: var(--serve-grape-050);
}

.bg-grape-025{
    background-color: var(--serve-grape-025);
}

.bg-teal{
    background-color: var(--serve-teal);
}

.bg-teal-075{
    background-color: var(--serve-teal-075);
}

.bg-teal-050{
    background-color: var(--serve-teal-050);
}

.bg-teal-025{
    background-color: var(--serve-teal-025);
}

.text-red {
    color: var(--scaleout-red);
}

.bg-yellow {
    background-color: var(--serve-yellow);
}

.bg-yellow-075 {
    background-color: var(--serve-yellow-075);
}
.bg-yellow-050 {
    background-color: var(--serve-yellow-050);
}
