.rounded-100 {
    border-radius: 100%;
}

.h-r-30 {
    height: 30rem !important
}

.img-cover {
    object-fit: cover;
}

.vh-75 {
    height: 75vh !important;
}

.vh-50 {
    height: 50vh !important;
}

.hover-opacity-100:hover {

    opacity: 1 !important;
}

.absolute-bottom {
    position: absolute;
    bottom:0;
}

@media (max-width:576px) {

    .w-xs-100 {
        width: 100% !important
    }
}

.rollable {
    overflow: hidden;
    max-height: 400px;
    transition: max-height 0.5s ease-in-out;
}

.rollable.hidden {
    max-height: 0 !important;
}

label.required::before {
    content: ' *';
    color: red;
}

.disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for the desired level of transparency */
    backdrop-filter: blur(1px); /* Adjust the blur value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled-overlay p {
    text-align: center;
}

.truncate-logs {
    max-width:150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .w-2 {
    width: 2%;
  }
  .w-18 {
    width: 18%;
  }
  .w-80 {
    width: 80%;
  }

.nav-tab-logs {
    border-color: #d2d5d8!important;
}
.nav-tab-logs.active {
  background-color:#6d5476!important;
  border-bottom:#6d5476!important;
  font-weight: bold!important;
  color: white!important;
}
.nav-tab-logs.disabled {
    color: #ffffff11!important;
    border:#6c757d00!important;
  }

.nav-tab-error {
    background: #d2454fb8!important;
    border: #e5626b!important;
    color: white!important;
}

.nav-link.serve-main-nav.li {
    width: 0;
}


.serve-main-nav {
    color: #686b72!important;
    font-weight: 500!important;
    font-size: 1rem!important;
}

.nav-link.serve-main-nav.active {
    color: #045c64!important;
    font-size: 1rem!important;
}

.nav-link.serve-main-nav.active:after {
    font-weight: 600!important;
    font-size: 1rem!important;
    color: #045c64!important;
}

.nav-link.serve-main-nav:focus:after {
    font-weight: 600!important;
    font-size: 1rem!important;
}

.nav-link.serve-main-nav:hover {
    color: #045c64!important;
}

.nav-link.serve-main-nav:hover:after {
    width: 0!important;
}

.nav-item:after {
    height: 50%!important;
}

@media screen and (min-width: 1200px) {
    .nav-separator {
        border-right:2px solid #e8eaea;
        height:100%;
        margin-right:1rem;
    }
}

@media screen and (max-width: 1200px) {
    .zero-padding {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .serve-nav {
        flex-direction: row;
    }
    .display-about {
        display: none!important;
    }
    .display-submit-app {
        display: none;
    }
    /* .flex-fill {
        flex: 0.5 0.5 auto !important;
    } */
}
.carousel-single-width {
        width: 50%!important;
}
.carousel-display {
        width: 50%!important;
    }
.carousel-off {
    display: none!important;
}
.carousel-on {
    display: block!important;
}
@media screen and (max-width: 992px) {
    .zero-padding {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .serve-nav {
        flex-direction: column;
    }
    /* .carousel-display-none {
        display: none!important;
    } */
    .carousel-single-width {
        width: 80%!important;
    }
    .carousel-display {
        display: none!important;
    }
    .carousel-icon-display {
        display: block!important;
    }
    /* .flex-fill {
        flex: 0.5 0.5 auto !important;
    } */
}

.show-filter-search {
    display: flex!important;
}

.hide-filter-search-reset {
    display: none!important;
}

@media screen and (max-width: 767px) {
    .carousel-off {
        display: block!important;
    }
    .carousel-on {
        display: none!important;
    }
    .show-filter-search {
    display: none!important;
    }
    .hide-filter-search-reset {
    display: block!important;
    }
}
.card-text {
    font-size: 1rem!important;
    text-align: centre!important;
}

.nav-separator {
    border-right:2px solid #e8eaea;
    margin-right:1rem;
}

.btn.active {
    background: #a7c947!important;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f);
}

.btn-outline-secondary {
    --bs-btn-color: #8392ab;
    --bs-btn-border-color: #8392ab;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #8392ab;
    --bs-btn-hover-border-color: #8392ab;
    --bs-btn-focus-shadow-rgb: 131, 146, 171;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #8392ab;
    --bs-btn-active-border-color: #8392ab;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #8392ab;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8392ab;
    --bs-gradient: none;
}

.wrong .bi-check {
    display: none;
}
.good .bi-x {
    display: none;
}

.bi-download {
    -webkit-text-stroke: 0.5px;
}

.bi-code-slash {
    -webkit-text-stroke: 0.5px;
}

.badge-grape {
    background-color: var(--serve-grape-075)!important;
    color: white!important;
    border-radius: 0.225rem!important;
}

.badge-ico {
    background-color: rgba(206, 199, 199, 0.476)!important; ;
    color: var(--serve-grape-075)!important;
    font-weight: 400 !important;
    font-size: 0.7rem!important;
}

.badge-ico-text {
    background-color: #dad7dbe3 !important;
    color: #495057 !important;
    font-weight: 400 !important;
}

.serve-filter-nav > .nav-item > .nav-link.active {
    background: #09828d!important;
    color: #f0f1f1!important;
}

.serve-filter-nav > .nav-item > .nav-link {
    background: #c4c4c44f!important;
    font-size: 0.8rem!important;
    margin-right: 0.2rem!important;
    padding: 0.2rem 0.5rem!important;
}

.badge-ico-text-filter {
    background-color: #dad7dbe3 !important;
    color: #495057 !important;
    font-weight: 400 !important;
}

.badge-ico-text-filter-selected {
    background-color: #77577eca !important;
    color: #ededee !important;
}

.badge-ico-text-filter:hover {
    background-color: #77577eca !important;
    color: #ededee !important;
}

.min-vh-80 {
    min-height: 80vh !important;
}

.search-container-filter {
    position: relative;
}

.search-input-filter {
    height: 30px;
    border-radius: 30px;
    padding-left: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.inactive {
    opacity: .5;
    filter: grayscale();
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.serve-pagination > .page-item > .page-link {
    cursor: pointer;
}
.serve-pagination-filter {
    --bs-pagination-padding-x: 0.4rem;
    --bs-pagination-padding-y: 0.15rem;
    --bs-pagination-font-size: 0.675rem;
    --bs-pagination-border-radius: 0.25rem;
    --bs-pagination-color: #495057;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
    color: white;
}

.card-font-sm {
    font-size: 0.8rem;
}
.card-font-xs {
    font-size: 0.7rem;
}
.card-font-xxs {
    font-size: 0.6rem;
}

.carousel-icon-display {
    display: none!important;
}

.carousel .carousel-indicators button {  background-color: gray; }
.carousel .carousel-indicators button.active { background-color: var(--serve-grape-075); }

.carousel-indicators {
    margin-bottom: 0;
  }

.carousel-control-next {  background-color:  var(--serve-grape-075)!important; }
.carousel-control-prev {  background-color:  var(--serve-grape-075)!important; }

.btn-xs {
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-font-size: 0.8rem;
    --bs-btn-border-radius: 0.25rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}
