/* buttons */

.btn {
    opacity: 1;
}

.btn:focus,
.btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
    text-decoration: none;
}

.btn-primary {
    --bs-btn-bg: var(--serve-dark-grey);
    --bs-btn-border-color: var(--serve-dark-grey);
    --bs-btn-hover-bg: var(--serve-dark-grey);
    --bs-btn-hover-border-color: var(--serve-dark-grey);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: var(--serve-dark-grey);
    --bs-btn-active-border-color: var(--serve-dark-grey);
    --bs-btn-disabled-bg: var(--serve-dark-grey);
    --bs-btn-disabled-border-color: var(--serve-dark-grey);
}

.btn-profile {
    --bs-btn-bg: var(--serve-lime);
    --bs-btn-border-color: var(--serve-lime);
    --bs-btn-hover-bg: var(--serve-lime);
    --bs-btn-hover-border-color: var(--serve-lime);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: var(--serve-lime);
    --bs-btn-active-border-color: var(--serve-lime);
    --bs-btn-disabled-bg: var(--serve-lime);
    --bs-btn-disabled-border-color: var(--serve-lime);
}

.btn-outline-serve {
    --bs-btn-color: var(--serve-teal);
    --bs-btn-border-color: var(--serve-teal);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--serve-teal);
    --bs-btn-hover-border-color: var(--serve-teal);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--serve-teal);
    --bs-btn-active-border-color: var(--serve-teal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--serve-teal);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--serve-teal);
    --bs-gradient: none;
}

.btn-outline-serve-grape {
    --bs-btn-color: var(--serve-grape);
    --bs-btn-border-color: var(--serve-grape-025);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--serve-grape);
    --bs-btn-hover-border-color: var(--serve-grape);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--serve-grape);
    --bs-btn-active-border-color: var(--serve-grape);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--serve-grape);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--serve-grape);
    --bs-gradient: none;
}

.btn-outline-dark.btn-outline-cancel:hover {
    background-color: #ffffff00;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
    color: #222529;
    outline-offset: -1px;
    outline:2px solid #282a2e;
}

.btn-primary:hover {
    outline-offset: -1px;
    outline:2px solid var(--serve-dark-grey);
}

.btn-danger:hover {
    outline-offset: -1px;
    outline:2px solid #bb2d3b;
}

.btn-profile:hover {
    outline-offset: -1px;
    outline:2px solid var(--serve-lime);
}

/* serve button for scrolling to top */
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 0px;
    width: 3rem;
    height: 3rem;
    opacity: 0.5;
}

/* forms */

.form-control {
    border-color: var(--scaleout-grey-6);
}

.form-control:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-color: var(--scaleout-grey-6);
}

.form-check-input:focus {
    border-color: var(--scaleout-grey-6);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.form-check-input:checked {
    background-color: var(--scaleout-green);
    border-color: var(--scaleout-green);
}

.form-control-with-spinner {
    width: -webkit-calc(100% - 50px);
    width:    -moz-calc(100% - 50px);
    width:         calc(100% - 50px);
}

.client-validation-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}

.client-validation-valid {
    color: rgb(25, 135, 84);
}

.client-validation-invalid {
    color: var(--bs-danger);
}

/* links */

a {
    text-decoration: none;
    display: inline-block;
}

a.serve-teal {
    color: var(--serve-teal);
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .4s;
}

a:hover::after, a:focus::after, a.active::after {
    width: 100%;
}

a.default::after{
    content:none;
}

a.default:hover::after, a.default:focus::after, a.default.active::after {
    width: 100%;
}

a.btn::after{
    content:none;
}

a.btn:hover::after, a.btn:focus::after, a.btn.active::after {
    width: 100%;
}

.navbar-nav {
    --bs-nav-link-color: var(--serve-dark-grey)
}

/* text */

p a {
    color: var(--serve-teal);
}

p a:hover,
p a:focus,
p a:active {
    color: var(--serve-teal);
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    opacity: .8;
}



/* lists */

.list-group-item {
    --bs-list-group-active-bg: var(--serve-dark-grey);
    --bs-list-group-active-border-color: var(--serve-dark-grey);
}

/* main navigation */

a.navbar-brand::after,
a.tag::after {
    display:none;
}

.nav .nav-item .nav-link {
    color: var(--serve-teal);
    font-weight: 500;
    font-size: 1.05rem;
}

.nav .nav-item .nav-link:hover,
.nav .nav-item .nav-link:focus,
.nav .nav-item .nav-link.active {
    color: var(--serve-teal);
}

/* app cards styling */

.icon-external {
    padding-left: 0.5rem;
}

a.icon-external:hover::after, a:focus::after, a.active::after {
    width: 0;
}

.description-more {
    display: none;
}

.description-app button {
    display: inline;
    background-color: transparent;
    border: 0;
    padding:0;
    font-family: inherit;
    color: var(--serve-teal);
}

/* collections */

a.collection-logo:hover::after, a:focus::after, a.active::after {
    width: 0;
}

.invalid .bi-check {
    display: none;
}
.valid .bi-x {
    display: none;
}

.bi-check {
    -webkit-text-stroke: 1px;
}

.bi-x {
    -webkit-text-stroke: 1px;
}

.alert-password {
    --bs-alert-color: #664d03!important;
    --bs-alert-bg: #a8a49c1c!important;
    /* --bs-alert-bg: #faf0dc!important;
    --bs-alert-border-color: #faf0dc!important; */
    --bs-alert-border-color: #a8a49c1c!important;
}

.alert-password-success {
    --bs-alert-color: #664d03!important;
    --bs-alert-bg: #d1e7dd5e!important;
    /* --bs-alert-bg: #d1e7dd!important;
    --bs-alert-border-color: #d1e7dd!important; */
    --bs-alert-border-color: #d1e7dd5e!important;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  /* .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  } */
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-inner > .carousel-item {
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.feather {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  .feather.size-16{
    width: 15px;
    height: 15px;
    }

.text-bg-serve {
    background: #e5e9ed00 !important;
    outline: #696b72 solid 1.5px;
}

.text-bg-serve:hover {
    outline: var(--serve-teal) solid 1.5px;
}
