<div class="card shadow border-0">
    <div class="card-header bg-light py-3">
        <h5 class="card-title mb-0">Change project description</h5>
    </div>
    <form action="{% url 'projects:change_description' project.slug %}" method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" contenteditable="true"
                    value="{{ project.name }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="5" id="description" name="description"
                    contenteditable="true">{% if project.description %}{{ project.description }}{% endif %}</textarea>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-square btn-primary">Save</button>
        </div>
    </form>
</div>
