{# projects/templates/projects/storage.html #}
<div class="card shadow border-0">
  <div class="card-header bg-light py-3">
    <h5 class="card-title mb-0">Storage settings</h5>
  </div>

  <div class="card-header px-3 pt-2">
    <ul class="nav nav-tabs card-header-tabs" id="volumeTabs" role="tablist">
      {% for volume in volumes %}
        <li class="nav-item" role="presentation">
          <button
            class="nav-link {% if forloop.first %}active{% endif %}"
            id="vol{{ volume.id|stringformat:'s' }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#vol{{ volume.id|stringformat:'s' }}"
            type="button"
            role="tab"
            aria-controls="vol{{ volume.id|stringformat:'s' }}"
            aria-selected="{{ forloop.first|yesno:'true,false' }}"
          >
            {{ volume.name }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>

  <form action="{% url 'projects:update_storage_settings' project.slug %}" method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="tab-content" id="volumeTabsContent">
        {% for volume in volumes %}
          {% include "projects/partials/settings/settings_volume_view.html" with volume=volume active=forloop.first %}
        {% endfor %}
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button type="submit" class="btn btn-square btn-primary">Save</button>
    </div>
  </form>
</div>
