{% include "apps/partials/div_label_with_help_toggle.html" with help_message=field.help_text %}
<div>
  <div class="input-group">
    {% if crispy_prepended_text %}
    <span class="input-group-text fw-bold">{{ crispy_prepended_text }}</span>
    {% endif %}
    {{ field }}
    {% if crispy_appended_text %}
      <span class="input-group-text">{{ crispy_appended_text }}</span>
    {% endif %}
  </div>
  {% if field.field.bottom_help_text %}
    <small class="form-text text-muted">{{ field.field.bottom_help_text }}</small>
  {% endif %}

  {% if field.errors %}
    {% for error in field.errors %}
      <div class="client-validation-feedback client-validation-invalid">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
</div>
