{% include "apps/partials/div_label_with_help_toggle.html" with help_message=field.help_text %}
{% load get_setting %}
<div>
  <div class="input-group">
    {% if crispy_prepended_text %}
      <span class="input-group-text" id="id_original_url_custom_default_url_form"></span>
    {% endif %}
    {{ field }}
  </div>
  {% if field.field.bottom_help_text %}
    <small class="form-text text-muted">{{ field.field.bottom_help_text }} <span id="id_custom_default_url_form_help_text"></span></small>
  {% endif %}

  {% if field.errors %}
    {% for error in field.errors %}
      <div class="client-validation-feedback client-validation-invalid">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
</div>

<script>

  const subdomainInput = document.getElementById("id_subdomain");
  const customDefaultUrlFormModifiedUrlText = document.getElementById("id_original_url_custom_default_url_form");
  const customDefaultUrlFormModifiedHelpTextUrl = document.getElementById("id_custom_default_url_form_help_text");

  function updateUrlWithSubdomain() {
    const subdomainValue = subdomainInput.value.trim();
    const displayValue = subdomainValue || "subdomain_name";

    customDefaultUrlFormModifiedUrlText.innerHTML = `<b>${displayValue}.{% get_setting 'DOMAIN' %}/</b>`;
    customDefaultUrlFormModifiedHelpTextUrl.innerHTML = `<b>${displayValue}.{% get_setting 'DOMAIN' %}.</b>`;
  }

  updateUrlWithSubdomain();

  subdomainInput.addEventListener("blur", updateUrlWithSubdomain);

</script>
