# Apps
minio
certifi==2021.10.8
chardet

django==3.2.16
django-appconf
django-compressor
django-cors-middleware
django-filter
django-oauth-toolkit
djangorestframework>=3.11.2

idna
oauthlib
psycopg2-binary
pytz
rcssmin
requests==2.28.1
rjsmin
six
sqlparse
urllib3==1.26.8
vine
gitdb2
GitPython
amqp
billiard
celery
kombu
redis
websocket-client
kubernetes
PyYAML>=5.4
django-bootstrap-modal-forms
django-yamlfield
Markdown
pyjwt
drf-nested-routers
flatten_json
watchdog
argh
django-celery-beat
django-cryptography
gunicorn
django_plotly_dash
dash
channels==3.0.3
daphne
django-redis
channels-redis
dash-bootstrap-components
pymongo
Pillow
mozilla-django-oidc==2.0.0
s3fs
django-tagulous
libcst
social-auth-core[all]
social-auth-app-django
werkzeug==2.0.3
