{% extends 'base.html' %}

{% block title %}Models{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="row">
    <div class="col">
        <h3 class="h3 mb-3 me-5">
            Model cards
            {% if published_models|length > 0 %}
            <small class="ghost-number">{{ published_models|length }}</small>
            {% endif %}
        </h3>

        <div class="alert alert-warning small" role="alert">
            This section of SciLifeLab Serve is currently under reconstruction.
        </div>

        <div class="tag-list">
            {% for tf in request.session.tag_filters %}
            <div class="tag d-inline">
                <span class="badge text-bg-primary">{{ tf }}
                    <a class="tag-list-ico fas fa-times" style="color: inherit;"
                    href="{% url 'models:index' %}?tf_remove={{ tf | urlencode }}">x</a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row pt-3 g-4">

    {% if not published_models %}
    <p>No public model cards available.</p>
    {% endif %}

    {% for model in published_models %}
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'common/model_card.html' %}
    </div>
    {% endfor %}
</div>
{% endblock %}
