{% extends base_template %}

{% block title %}Private model{{ model.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h3>Model Details</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card border-0 shadow">
            <div class="card-header bg-white p-3">
                <h5 class="card-title mb-0">{{ model.name }}</h5>
                <p>{{ model.description }}</p>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Project</dt>
                    <dd class="col-8 col-xxl-9">
                        {{ model.project.name }}
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Project Owner</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        {{ model.project.owner }}
                    </dd>
                </dl>
                <hr>
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Version</dt>
                    <dd class="col-8 col-xxl-9">
                        <p class="mb-1">{{ model.version }}</p>
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Uploaded</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        <p class="mb-0">{{ model.uploaded_at }}</p>
                    </dd>
                </dl>
                <hr>
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Bucket</dt>
                    <dd class="col-8 col-xxl-9">
                        {{ model.bucket }}
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">UID</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        {{ model.uid }}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <div class="card border-0 shadow">
                    {% if model.model_card %}
                    <div class="card-header">
                        <h5 class="card-title mb-0">Model Card</h5>
                    </div>
                    <div class="card-body">
                        {{ model.model_card | safe }}
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p>No model card available.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
