{% extends 'base.html' %}

{% block title %}News{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}


<div class="container">
    <div class="row text-center mt-5">
        <div class="col-12 text-center">
            <h3>News
            </h3>
            <hr class="m-0 bg-grape border-0" style="height: 2px;">
        </div>

            {% for news in news_objects %}
            <div class="col-12">
                <div class="card border bg-white my-2" id="{{ news.title|slugify}}">
                    <p class="text-muted text-end p-1 m-0">{{ news.created_on|date:"M. j, Y, H:i" }}</p>

                    <div class="card-body text-start pt-0">
                        <div class="card-title d-flex justify-content-between align-items-center">
                                <h4 class="text-grape">{{ news.title }}</h4>
                        </div>
                            <div class="card-text">{{ news.body_html|safe }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>

</div>
{% endblock %}
