{% extends 'base.html' %}

{% block title %}Platform news{% endblock %}
{% load static %}
{% load custom_tags %}
{% block extra_head %}
<link rel="alternate"
      type="application/rss+xml"
      title="SciLifeLab Serve news RSS feed"
      href="{% url 'portal:news-rss' %}">
{% endblock %}

{% block content %}


{% include "breadcrumbs/bc_about_pages.html" with breadcrumb_currentpage_title="Service news" %}

  <div class="row">

    {% include "portal/sidebar_about_pages.html" %}

    <div class="col-lg-10">
    <h2>Platform news</h2>
    <hr class="bg-teal border-0 mb-3" style="height: 2px;">
    <div class="row text-center">
            {% for news in news_objects %}
            <div class="col-12">
                <div class="card border bg-white my-2" id="{{ news.title|slugify}}">
                    <p class="text-end p-1 m-0">{{ news.created_on|date:"M. j, Y, H:i" }}</p>

                    <div class="card-body text-start pt-0">
                        <div class="card-title d-flex justify-content-between align-items-center">
                                <h3 class="text-grape">{{ news.title }}</h3>
                        </div>
                            <div class="card-text">{{ news.body_html|safe }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

</div>

    </div>

  </div>

{% endblock %}
