<div id="manage-files" class="col-12 d-flex">
    <div class="card w-100 border-0 shadow">
        <div class="card-header border-bottom-0 d-flex align-items-center justify-content-between py-3"
            style="min-height: 3rem;">
            <h5 class="card-title mb-0">Manage Files</h5>
            <div>
                {% if filemanager_instance %}
                <strong>Status:</strong>
                <span class="badge bg-secondary" id="status-{{ filemanager_instance.pk }}">
                    {{ filemanager_instance.status.latest.status_type }}
                </span>
                {% endif %}
            </div>
        </div>
        {% if filemanager_instance %}
        <div class="row p-3">
           <div class="col-12 col-sm-6">

                <p>File Manager is activated and will be closed in {{ hours }} hours</p>
                <p>You can reach the manager by clicking the button below</p>
                <a class="btn btn-primary mb-3" href="{{ filemanager_instance.table_field.url }}" target="_blank">
                    Open File Manager <i class="bi bi-box-arrow-up-right"></i>
                </a>
           </div>

        </div>
        {% else %}


        <div class="row g-2 py-2 mx-2">
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row g-0 w-100 h-100">
                            <div class="col-8 d-flex align-items-bottom flex-column">
                                <div class="pt-2">
                                    <h5>Activate File Manager</h5>
                                </div>
                                <div class="align-items-end d-flex h-100">
                                    <div>
                                        {% if filemanager_instance %}
                                        <button class="btn btn-profile btn-sm" disabled>Activated</button>
                                        {% else %}
                                        <a class="btn btn-profile btn-sm"
                                        href="{% url 'apps:create' project.slug "filemanager"  %}?from=overview">Activate</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <img src="/static/images/logos/apps/filemanager-logo.svg" class="img-fluid float-end w-75" alt="App Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>