{% load static %}
{% load custom_tags %}

                <div class="card h-100 border-0 shadow">
                    <div class="card-header d-flex card-footer-text justify-content-between align-items-center">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <div class="col-8 d-flex align-items-center">
                                <h5 class="card-title fw-bold align-items-center m-0 me-1">{{ app.name }}</h5>
                                <i data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":"500", "hide":"0"}' title="Waiting" style="color:orange;{% if app.status_group == "success" %}display: none;{% endif %}" class="bi bi-circle-fill align-items-center mt-1"></i>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                {% static 'images/logos/apps/' as static_url %}
                                <img class="img-fluid float-end img-cover" style="height:50px;"
                                    src="{{static_url}}{{app.app.logo}}"
                                    alt="App Logo" title="{{app.app.name}}">
                            </div>
                        </div>

                    </div>
                    <div class="card-body d-flex flex-column">
                        <div id="app-{{ app.id }}" class="card-text description-app">
                            <p>
                                {% if app.description|length > 349 %}
                                    <span class="description-short">{{ app.description|slice:':349'}}<span class="description-dots">...</span><span class="description-more" style="display:none;">{{ app.description|slice:'349:' }}</span>
                                    <button onclick="toggleDescription('app-{{ app.id }}')">[see more]</button>
                                {% else %}
                                    {{ app.description|default_if_none:""}}
                                {% endif %}
                            </p>
                            <ul class="list-unstyled">
                                <li class="list-group-item row">
                                    <div class="col-12"><span class="value-label fw-bold">Owner: </span>{{ app.owner.first_name }} {{ app.owner.last_name }}</div>
                                    <div class="col-9"></div>
                                </li>
                            </ul>
                        </div>

                        <div class="row d-flex flex-column">
                            <div class="col-12">
                                {% if request.session.app_tags|exists:app.id %}
                                {% with app.tags.all as tags %}
                                {% for tag in tags %}
                                <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                    href="{% url 'portal:apps' %}?tf_add={{ tag | urlencode }}">
                                    <div class="tag-ico fas fa-tag fa-sm"></div><span class="badge text-bg-primary">{{ tag }}</span>
                                </a>
                                {% endfor %}
                                <a href="{% url 'portal:apps' %}?app_id_remove={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-circle tag-count py-0">
                                        hide
                                    </button>
                                </a>
                                {% endwith %}
                                {% else %}
                                {% with app.tags.all as tags %}
                                {% with tags|count_str as tag_limit %}
                                {% for tag in tags|slice:tag_limit %}
                                <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                    href="{% url 'portal:apps' %}?tf_add={{ tag | urlencode }}">
                                    <div class="tag-ico fas fa-tag fa-sm"></div><span class="badge text-bg-primary">{{ tag }}</span>
                                </a>
                                {% endfor %}
                                {% if tags.count > tag_limit %}
                                <a href="{% url 'portal:apps' %}?app_id_add={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-light fw-600 tag-count py-0">
                                        show +{{ tags.count|subtract:tag_limit }}
                                    </button>
                                </a>
                                {% endif %}
                                {% endwith %}
                                {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="card-footer d-flex text-muted card-footer-text justify-content-between">
                        <div>
                        {% if app.app.slug in 'shinyapp,shinyproxyapp,dashapp,customapp,gradio,streamlit' %}
                            {% if app.pvc == None %}
                            <a title="Instructions for running the app locally" rel="Instructions for running the app locally" href="#" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#dockerInfoModal" data-app-name="{{ app.name }}" data-app-image="{{ app.image }}" data-app-port="{{ app.port }}"><i class="bi bi-download"></i> Run Locally</a>
                            {% endif %}
                            {% endif %}
                            {% if app.source_code_url %}
                            <a id="source-code-url" target="_blank" title="Source code of the app" rel="Link to the source code of the app" href="{{ app.source_code_url }}" class="btn btn-outline-dark btn-sm"> <i class="bi bi-code-slash"></i> Source Code</a>
                            {% endif %}
                            </div>
                            {% if "Serve" in app.app.name or app.app.name == "Python Model Deployment" %}
                                <a class="btn btn-primary btn-sm" onclick="copyClip('{{app.url}}')">Copy API Endpoint</a>
                            {% else %}
                                <a title="Launch the app" rel="Link to launch the app" href="{{ app.url }}" target="_blank" class="btn btn-primary btn-sm">Launch</a>
                            {% endif %}
                    </div>
                    <div class="card-footer d-flex text-muted card-footer-text justify-content-between bg-lime-025 rounded-bottom">
                        <div class="text-start">
                            <span>{{ app.app.name }}</span>
                        </div>
                        <div class="text-end">
                            <span>Last updated: {{ app.updated_on|date:"d M, Y" }}</span>
                        </div>
                    </div>
                </div>
