{% load static %}

{% load get_version get_setting %}
{% get_version_text as version_text %}
{% get_image_tag as imagetag_text %}
{% get_setting "DEBUG" as debug_mode %}

<div class="footer border-top bg-light text-muted small pt-4 mt-auto">
    <div class="container">
    <div class="row pb-2">
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li><a href="{% url 'portal:home' %}">Home</a></li>
                    <li><a href="{% url 'portal:apps' %}">Public apps</a></li>
                    <li><a href="{% url 'models:index' %}">Public models</a></li>
                    <li><a href="/docs/">User guide</a></li>
                    <li><a href="{% url 'portal:teaching' %}">Teaching</a></li>
                    <li><a href="{% url 'portal:about' %}">About</a></li>
                    <li><a href="{% url 'portal:privacy' %}">Privacy policy</a></li>
                </ul>

            </div>
            <div class="col-lg-7">
                <p>SciLifeLab Serve (beta) is developed and operated by the <a href="https://scilifelab.se/data" target="_blank">SciLifeLab Data Centre</a>. SciLifeLab Serve is free to use for all life science researchers affiliated with a Swedish research institution and their collaborators. The service is based on an  <a href="https://github.com/ScilifelabDataCentre/stackn/">open source platform</a> working on top of a Kubernetes cluster.</p>
                <p>Please email serve@scilifelab.se with any questions.</p>
                <p>
                    version {{version_text}}
                    {% if debug_mode %}
                    <br><span style="color: rebeccapurple;">image: {{imagetag_text}} (DEBUG)</span>
                     {% endif %}
                </p>
            </div>
            <div class="col-9 col-md-6 col-lg-3">
                <div class="row">
                    <div class="col">
                        <p>Supported by:</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col"><img class="img-fluid" src="{% static 'images/scilifelab_logo.png' %}" alt="SciLifeLab"></div>
                    <div class="col"><img class="img-fluid" src="{% static 'images/ssf_logo.png' %}" alt="Swedish Foundation for Strategic Research"></div>
                    <div class="col"><img class="img-fluid" src="{% static 'images/kaw_logo.png' %}" alt="Knut and Alice Wallenberg Foundation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
