{% load static %}

<div class="card h-100 border-0 shadow">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ model.name }}</h5>
        <div class="card-text">
            <p>{{model.model_description|default_if_none:""}}</p>
            <ul class="list-unstyled">
                <li class="list-group-item row">
                    <div class="col-3"><span class="value-label">Owner:</span></div>
                    <div class="col-9">{{ model.project.owner.first_name }} {{ model.project.owner.last_name }}</div>
                </li>
            </ul>
        </div>

        <div class="row mt-auto">
            <div class="col-6">
                <a href="{% url 'models:details_public' model.pk %}" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="card-footer d-flex text-muted card-footer-text justify-content-between  bg-teal-075">
        <div class="text-start">
            <span>ML Model</span>
        </div>
        <div class="text-end">
            <span>Last updated: {{ model.updated_on|date:"d M, Y" }}</span>
        </div>
    </div>
</div>
