{% load static %}
{% load is_login_signup_disabled %}
<nav class="bg-light shadow-sm mb-3 py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex align-items-center justify-content-lg-start justify-content-center py-2">
                <a href="/" class="navbar-brand w-100">
                    <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve (beta)" style="width:100%; max-height:2.2rem">
                </a>
            </div>
        {% if not minimum %}
            <div class="col-12 col-lg-9 d-flex justify-content-lg-end justify-content-center py-2">
                <ul class="nav text-center justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal:home' %}" target="_self" title="Homepage">
                            <i class="fa-solid fa-home d-block mx-auto"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal:apps' %}" target="_self" title="Apps">
                            Apps and models
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs/" target="_self" title="User guide">
                            User guide
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}

                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'projects:index' %}" target="_self" title="My projects">
                            My projects
                        </a>
                    </li>
                    <li class="btn-group">
                        <button type="button" class="btn btn-profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="{{request.user.email}}">
                            <i class="bi bi-person-circle"></i> Profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'user-profile' %}"><i class="bi bi-person me-1"></i>My profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'common:edit-profile' %}"><i class="bi bi-person me-1"></i>Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="bi bi-key me-1"></i>Change password</a></li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <li><button class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right me-1"></i>Sign out</button></li>
                            </form>
                        </ul>
                    </li>


                    {% else %}

                    <li class="nav-item flex-wrap">
                        <a class="btn btn-profile order-lg-2 order-1 mx-2 {% if maintenance_mode|is_login_signup_disabled %}disabled{% endif %}" href="{% url 'common:signup' %}">
                            <i class="bi bi-person-plus"></i> Register
                        </a>
                        <a class="btn btn-profile order-lg-1 order-2 mx-2 {% if maintenance_mode|is_login_signup_disabled %}disabled{% endif %}" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Log in
                        </a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</nav>

{% if not minumum %}
  {% for obj in maintenance_mode %}
    {% if obj.message_in_header %}
      <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-8 text-center">
                  <div class="alert alert-warning border" role="alert">
                      <p class="mb-0 fs-5"><i class="bi-exclamation-triangle"></i></p>
                      <p>{{ obj.message_in_header | safe }}</p>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
