{% load can_create_app %}
{% load static %}

<div class="row g-2 py-2 mx-2">
    {% for app in objs.apps %}

    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100" data-cy="create-app-card">
            <div class="card-body">
                <div class="row g-0 w-100 h-100">
                    <div class="col-8 d-flex align-items-bottom flex-column">
                        <div class="pt-2">
                            <h5>{{ app.name }}</h5>
                        </div>
                        <div class="align-items-end d-flex h-100">
                            <div>
                                <div class="row">
                                    <div class="col small">
                                        <p>{{ app.description }}</p>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col">
                                            {% can_create_app request.user project app as can_create %}

                                            {% if can_create %}

                                                <!-- When models are launched REMOVE THIS -->
                                                    {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                                                    <a class="btn btn-primary btn-sm"
                                                        href="">Create</a>
                                                    {% else %}
                                                <!-- To here -->
                                                    <a class="btn btn-primary btn-sm"
                                                        href="{% url 'apps:create' project.slug app.slug  %}?from=overview">Create</a>

                                                <!-- And here -->
                                                    {% endif %}
                                                <!-- To here -->

                                            {% else %}
                                            <button class="btn btn-secondary btn-sm" style="cursor: default;"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="Max number of apps of this type reached. Please email serve@scilifelab.se to request to change the app limits.">
                                                Create
                                            </button>
                                            {% endif %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        {% static 'images/logos/apps/' as static_url %}
                        <img src="{{static_url}}{{app.logo|default:'default-logo.svg'}}" class="img-fluid float-end w-75"
                            alt="App Logo">
                    </div>
                </div>
            </div>
            {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
            <div class="disabled-overlay">
                <p>{{ app.name }} will be available soon</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>