{% load can_create_app %}
{% load static %}
{% load waffle_tags %}

<div class="row g-2 py-2 mx-2">
    {% for app in objs.apps %}

    {% if app.slug == 'depictio' %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card h-100" data-cy="create-app-card">
                <div class="card-body">
                    <div class="row g-0 w-100 h-100">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <div class="col-8 d-flex align-items-center">
                                <h5>{{ app.name }}</h5>
                                <i data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay="{&quot;show&quot;:&quot;500&quot;, &quot;hide&quot;:&quot;0&quot;}" class="bi bi-circle-fill align-items-center mt-1 app-template-status-icon" aria-label="Waiting" data-bs-original-title="Waiting"></i>
                            </div>
                            <div class="col-4 d-flex justify-content-end">

                                {% static 'images/logos/apps/' as static_url %}
                            <img src="{{static_url}}{{app.logo|default:'default-logo.svg'}}" class="img-fluid float-end w-50"
                                alt="{{ app.name }} App Logo">
                            </div>

                        </div>
                        <div class="col-12 d-flex justify-content-end flex-column">
                           <p class="small">{{ app.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    {% can_create_app request.user project app as can_create %}
                    {% if can_create %}
                    <a class="btn btn-primary btn-sm" href="{% url 'apps:create' project.slug app.slug %}?from=overview">Create</a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm app-template-limit-button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Max number of apps of this type reached. Please email serve@scilifelab.se to request to change the app limits.">
                    Create
                    </button>
                    {% endif %}
                </div>
                {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                <div class="disabled-overlay">
                    <p>{{ app.name }} will be available soon</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <!-- Regular app cards for non-Depictio apps -->
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card h-100" data-cy="create-app-card">
                <div class="card-body">
                    <div class="row g-0 w-100 h-100">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <div class="col-8 d-flex align-items-center">
                                <h5>{{ app.name }}</h5>
                                <i data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay="{&quot;show&quot;:&quot;500&quot;, &quot;hide&quot;:&quot;0&quot;}" class="bi bi-circle-fill align-items-center mt-1 app-template-status-icon" aria-label="Waiting" data-bs-original-title="Waiting"></i>
                            </div>
                            <div class="col-4 d-flex justify-content-end">

                                {% static 'images/logos/apps/' as static_url %}
                            <img src="{{static_url}}{{app.logo|default:'default-logo.svg'}}" class="img-fluid float-end w-50"
                                alt="{{ app.name }} App Logo">
                            </div>

                        </div>
                        <div class="col-12 d-flex justify-content-end flex-column">
                           <p class="small">{{ app.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    {% can_create_app request.user project app as can_create %}
                    {% if can_create %}
                    <a class="btn btn-primary btn-sm" href="{% url 'apps:create' project.slug app.slug %}?from=overview">Create</a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm app-template-limit-button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Max number of apps of this type reached. Please email serve@scilifelab.se to request to change the app limits.">
                    Create
                    </button>
                    {% endif %}
                </div>
                {% if "Serv" in app.name or app.name == "Python Model Deployment" %}
                <div class="disabled-overlay">
                    <p>{{ app.name }} will be available soon</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
