{% for obj in maintenance_mode %}
{% if obj.message_in_project_dashboard %}
      <div class="justify-content-center" style="">
          <div class="alert alert-warning border" role="alert">
              <div class="text-center mx-4">
                  <i class="bi-exclamation-triangle mx-2"></i>
                  {{ obj.message_in_project_dashboard | safe }}
              </div>
          </div>
      </div>
{% endif %}
{% endfor %}

<div class="d-flex justify-content-between">
  <h3>{{ project.name }}</h3>
  <div class="d-flex">
    <a href="{%  url 'projects:settings' project.slug %}" class="btn btn-primary ms-2" data-cy="settings">
      <i class="bi bi-gear me-1"></i>
      Settings
    </a>
    {% if user.is_authenticated and user.is_staff %}
      <div class="dropdown ms-2">
        <a
          href="#"
          class="btn btn-primary serve-admin-dropdown-trigger"
          role="button"
          id="projectAdminMenu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-cy="admin-project-menu"
        >
          <span class="me-1" aria-hidden="true">🐳</span>
          <span>Admin View</span>
          <i class="bi bi-caret-down-fill small ms-2" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="projectAdminMenu">
          <li>
            <a
              class="dropdown-item"
              href="{% url 'admin:projects_project_change' project.id %}"
              data-cy="admin-project"
              target="_blank"
            >
              Project admin page
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'apps:admin_background_tasks' project.slug %}"
              data-cy="admin-background-tasks"
              target="_blank"
            >
              Background tasks
            </a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>
