<div id="div_{{ field.id_for_label }}" class="{% if wrapper_class %}{{ wrapper_class }}{% endif %}">
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <span class="bi bi-question-circle" style="color: #989da0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{ help_message }}">
    </span>
    {{ field }}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
