<div id="div_{{ field.id_for_label }}" class="{% if wrapper_class %}{{ wrapper_class }}{% endif %}">
    <div>
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <span class="bi bi-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{ help_message }}">
        </span>
    </div>

    <div style="display: block; clear:both;">
        {% if spinner %}
        <div style="float:right;">
            <div id="formInputSpinner" class="spinner-border text-primary" style="display: none;" role="status">
                <span class="sr-only"></span>
              </div>
        </div>
        {% endif %}
        {{ field }}
        <div class="client-validation-feedback" style="display:none;"></div>
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <div class="client-validation-feedback client-validation-invalid">{{ error }}</div>
        {% endfor %}
    </div>
</div>
