{% extends 'base.html' %}

{% block title %}Logs - {{ app.name }}{% endblock %}
{% load static %}
{% block content %}
  <div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Logs {{ app.name }}</h2>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table id="logs" class="table">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>Time</th>
              <th>Log</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
<script>
let table = new DataTable('#logs', {
  data: {{ logs|safe }},
  columns: [
      {
          className: 'dt-control w-2',
          orderable: false,
          data: null,
          defaultContent: ''
      },
      {
        className: 'fw-bold w-18',
        data: '0'
      },
      {
        className: 'log-column truncate-logs w-80',
        data: '1'
      }
  ],
  order: [[1, 'asc']],
  language: {
    "emptyTable": "No Logs found for the app. Logs are only available for 24h."
  }
});
table.on('click', 'td.dt-control', function(e) {
  let tr = e.target.closest('tr');
  for (td of tr.children) {
    if(td.classList && td.classList.contains('log-column')){
      if(td.classList.contains('truncate-logs')){
        tr.classList.add('dt-hasChild')
        td.classList.remove('truncate-logs')
      } else {
        tr.classList.remove('dt-hasChild')
        td.classList.add('truncate-logs')
      }
    }
  }

});
</script>
{% endblock %}
