{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Logs {{ app.name }}</h2>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table" style="line-break: anywhere;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 20%;">Time</th>
              <th scope="col" style="width: 75%;" >Log</th>
            </tr>
          </thead>
          <tbody>
            {% for line in logs %}
            <tr>
                <td>{{ forloop.counter }}</th>
                <td class="fw-bold">{{ line.0 }}</td>
                <td>{{ line.1 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
