{% extends 'base.html' %}

{% block title %}Logs - {{ instance.name }}{% endblock %}
{% load static %}
{% block content %}

{% include "breadcrumbs/bc_logs.html" %}
  <div class="col-md-12">
    <div class="row">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3>{{ instance.name }} Logs</h3> <h5><span class="shadow badge bg-secondary" id="status-{{ instance.app.slug }}-{{ instance.pk }}"> {{ instance.status.latest.status_type }}</span></h5>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <p> <span class="fw-bold"> Note:</span> Logs appear a few minutes after an app has been launched. The Status on the top right is an indication of the state of the app. {% if instance.app.slug == 'customapp' and instance.volume %} If the app is not running (due to an error) and you have a volume attached to the app, then you can switch between to the tabs below to see logs for the data copy process. If the data copy succeeds, then the data copy tab is disabled and can't be accessed. This can give you hints if data copy failed.{% endif %} </p>
      </div>
    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="shadow nav-link nav-tab-logs active" id="nav-contianer1-tab" data-bs-toggle="tab" data-bs-target="#nav-contianer1" type="button" role="tab" aria-controls="nav-contianer1" aria-selected="true" onclick="updateContainer('{{ instance.subdomain.subdomain }}')">{{instance.name}}</button>

          {% if instance.app.slug == 'customapp' and instance.volume %}
          <button class="shadow nav-link nav-tab-logs {% if instance.app_status.status == 'Running' %}disabled{% endif %}" id="nav-contianer2-tab" data-bs-toggle="tab" data-bs-target="#nav-contianer2" type="button" role="tab" aria-controls="nav-contianer2" aria-selected="false" onclick="updateContainer('copy-to-pvc')">Data Copy</button>
          {% endif %}
        </div>
      </nav>
    </div>
    </div>
    <div class="shadow row pt-3 pb-3 border rounded">
      <div class="table-responsive">
        <table id="logs" class="table">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>Time</th>
              <th>Log</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
<script>
const url = "{% url 'apps:logs' project.slug instance.app.slug instance.pk %}"
const csrftoken = getCookie('csrftoken');
const body = {}
let table = new DataTable('#logs', {
  ajax: {
    url: url,
    type: 'POST',
    headers: {
      'Accept': 'application/json',
      'X-CSRFToken': csrftoken,
    },
    data: function ( d ) {
      return  $.extend(d, body);
    },
    error: function (xhr, error, code) {
    },
  },
  columns: [
      {
          className: 'dt-control w-2',
          orderable: false,
          data: null,
          defaultContent: ''
      },
      {
        className: 'fw-bold w-18 border',
        data: '0'
      },
      {
        className: 'log-column w-80 border-bottom-0',
        data: '1'
      }
  ],
  order: [[1, 'asc']],
  language: {
    "emptyTable": "No Logs found for the app. Logs are only available for 24h."
  },
  pagingType: 'full_numbers'
});
table.on('click', 'td.dt-control', function(e) {
  let tr = e.target.closest('tr');
  for (td of tr.children) {
    if(td.classList && td.classList.contains('log-column')){
      if(td.classList.contains('truncate-logs')){
        tr.classList.add('dt-hasChild')
        td.classList.remove('truncate-logs')
      } else {
        tr.classList.remove('dt-hasChild')
        td.classList.add('truncate-logs')
      }
    }
  }

});
setInterval( function () {
  table.ajax.reload( null, false ); // user paging is not reset on reload
}, 10000 );

const updateContainer = (container) => {
  body.container = container
  table.clear().draw()
  $(".dataTables_empty").text("Loading...")
  table.ajax.reload();
}
</script>
<script>
{
  const apps = JSON.parse("{{ instance.pk |escapejs }}")
  const body = new FormData()
  body.append("apps", apps)

  const url = "{% url 'apps:get_status' project.slug %}"
  const csrftoken = getCookie('csrftoken');

  const updateStatus = async () => {

      const response = await fetch(url, {
          method: "POST",
          headers: {
              'Accept': 'application/json',
              'X-CSRFToken': csrftoken,
          },
          body
      })

      const json = await response.json()
      for (const key in json) {
          if (Object.hasOwnProperty.call(json, key)) {

              const { status, statusGroup } = json[key]
              const querySelector = `#status-${key}`
              const elements = document.querySelectorAll(querySelector);

              elements.forEach(element => {
                  const className = `shadow badge bg-${statusGroup}`;
                  element.className = className;
                  element.innerText = status;
              });
          }
      }
  }

  const loop = async () => {
          await updateStatus()

          setTimeout(() => {
              loop()
          }, 5000)
  }

  loop()
}
</script>
{% endblock %}
