{% extends 'base.html' %}
{% block title %}MLflow Credentials{% endblock %}
{% load static %}

{% block content %}
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-12 col-xl-8">
      <div class="card shadow border-1">
        <div class="card-body">
          <h1 class="h3 mb-3 card-title">Your MLflow Credentials</h1>
          <p class="card-text">Use the credentials below to access MLflow.</p>

          <div class="mb-3">
            <label for="mlflow-username" class="form-label">Username</label>
            <div class="input-group">
              <input type="text" id="mlflow-username" class="form-control" value="{{ mlflow_username }}" readonly>
              <button class="btn btn-outline-secondary" onclick="copyToClipboard('mlflow-username')">Copy</button>
            </div>
          </div>

          <div class="mb-3">
            <label for="mlflow-password" class="form-label">Password</label>
            <div class="input-group">
              <input type="text" id="mlflow-password" class="form-control" value="{{ mlflow_password }}" readonly>
              <button class="btn btn-outline-secondary" onclick="copyToClipboard('mlflow-password')">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      function copyToClipboard(elementId) {
          var copyText = document.getElementById(elementId);
          copyText.select();
          copyText.setSelectionRange(0, 99999); // For mobile devices
          navigator.clipboard.writeText(copyText.value);
      }
  </script>
{% endblock %}
