{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% block title %}{{ collection.name }} | Collections {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'portal:collections_index' %}">Collections</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 ">
        <h3 class="h3 mb-3 me-5">
            <i>{{ collection.name }}</i> collection <span class="bi bi-question-circle fs-6" style="color: #989da0" data-bs-toggle="tooltip" title="" data-bs-placement="right" data-bs-original-title="Collections are groups of apps and models published on SciLifeLab Serve belonging to a research community, organisation, or topic.">
            </span>
        </h3>
        </div>
</div>

<div class="row border rounded bg-light py-3">
    {% if collection.logo %}
    <div class="col-4 mb-3 col-md-3 mb-md-0 text-center">
        <img class="img-fluid" src="{{ collection.logo.url }}" alt="{{ collection.name }} logo">
    </div>
    <div class="col-md-8">
    {% else %}
    <div class="col">
    {% endif %}
        {% if collection.description %}<p id="collection-description"><b>Description:</b><br>{{ collection.description }}</p>{% endif %}
        {% if collection.website %}<p><b>External website:</b><br><a id="collection-website" href="{{ collection.website }}">{{ collection.website }}</a></p>{% endif %}
        <p><b>Maintainer:</b><br>{{ collection.maintainer.first_name }} {{ collection.maintainer.last_name }}, {{ collection.maintainer.email }}</p>
    </div>
</div>

{% if not collection_published_apps and not collection_published_models %}
<div class="row mt-4">
    <div class="col">
    There are no public apps or model cards associated with this collection.
    </div>
</div>
{% endif %}

{% if collection_published_apps %}
<div class="row mt-4 border-bottom pb-4">
    <div class="row">
    <div class="col-12">
        <h4 class="mb-3 me-5" id="apps">
            Public apps
            <span class="ghost-number">{{ collection_published_apps|length }}</span>
        </h4>
    </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
        {% for app in collection_published_apps %}
        <div class="col mb-4">
            {% include 'common/app_card.html' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if collection_published_models %}
<div class="row mt-4 border-bottom pb-4">
    <div class="row">
    <div class="col-12">
        <h4 class="mb-3 me-5" id="models">
            Public model cards
            <span class="ghost-number">{{ collection_published_models|length }}</span>
        </h4>
    </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
        {% for model in collection_published_models %}
        <div class="col mb-4">
            {% include 'common/model_card.html' %}
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

{% if collection.zenodo_community_id %}
<div class="row mt-4 pb-4">
    <div class="col-12">
        <h4 class="mb-3 me-5" id="datasets">
            Public datasets (Zenodo) <span id="zenodo-entries-total" class="ghost-number"></span>
        </h4>
        <p><i>Source: <a href="https://zenodo.org/communities/{{ collection.zenodo_community_id }}">Zenodo community</a></i></p>
    </div>
    <div id="zenodo-entries-loading" class="col fst-italic">Loading information about the datasets...</div>
    <div id="zenodo-entries" class="col" data-community-id="{{ collection.zenodo_community_id }}"></div>
</div>
{% endif %}

{# Including code for modals displaying Docker info #}
{% include 'common/app_card_docker_info.html' %}
{# Including code hiding and showing longer app descriptions #}
{% include 'common/app_card_description.html' %}

{% if collection.zenodo_community_id %}
<script src="{% static 'js/fetch_zenodo_community_entries.js' %}"></script>
{% endif %}

{% endblock %}
