{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="hero text-center my-4">
        <h1 class="display-5"><i class="bi bi-emoji-frown text-danger mx-3"></i></h1>
        <h1 class="display-5 fw-bold">Login Failed.</h1>
    </div>
    <div class="content">
        <div class="row  justify-content-center py-3">
            <div class="col-md-6">
                <div class="my-5 p-5 card">
                    <h3>What can I do?</h3>
                    <p>The platform currently only supports access for users that are affiliated with a Swedish University. If you are affiliated with a Swedish University and still cannot login, you can send an email at datacentre@scilifelab.se and we will try to resolve the issue as soon as possible.</p>
                    <p>If you are not affiliated with a Swedish University but want access to the platform you can send an email to us as well.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}