{% extends 'guide_template.html' %}
{% block heading %}
  Account setup
{% endblock %}

{% block guide-content %}

<h4>Access to SciLifeLab Serve is granted for:</h4>
  <ul>
    <li>Life science researchers affiliated with a Swedish university.</li>
    <li>A collaborator of someone affiliated with a Swedish research institute.</li>
    <li>SciLifeLab infrastructure units.</li>
    <li>Others under specific circumstances.</li>
  </ul>

<h4>To access SciLifeLab Serve, you need one of the following:</h4>
  <ul>
    <li>A Life Science Login (LS-Login).</li>
    <li>A manually created account (for those unable to acquire an LS login).</li>
  </ul>

  <h4>Setting up a new LS-Login</h4>
  <p>To set up a new LS-Login, follow the steps carefully. When creating an LS-Login, you will also acquire an <a href="https://elixir-europe.org/">ELIXIR</a> membership. </p>
  <ol>
    <li>Start by clicking the green <span style="font-weight: 500;color: #041c39c7;">'Sign in'</span> button in the top right corner of this page.
    </li>
    <li>After redirection, click on the <span style="font-weight: 500;color: #041c39c7;">'Life Science Login (university)'</span> button.
    </li>
    <li>Type the name of your institution in the <span
      style="font-weight: 500;color: #041c39c7;">'Choose Your Identity Provider'</span> box and choose the correct option.
    </li>
    <li>Use your institutional credentials (SWAMID) to log in when redirected.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Proceed to register on the Life Science Login'</span>.
    </li>
    <li>Read and confirm the user and data policies, then complete the registration form and click <span style="font-weight: 500;color: #041c39c7;">Submit</span>.
    </li>
    <li>Now you should have received a verification email. Check your email inbox and click the verification link/button in the received email.
    </li>
    <li>If you have not done so previously, you will be asked to register with ELIXIR. Click
      <span style="font-weight: 500;color: #041c39c7;">'Submit'</span> after
      completing the registration form.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Continue'</span> on the
      subsequent page indicating that you are a member of ELIXIR.
    </li>
    <li>Double check the summarized information. Click
      <span style="font-weight: 500;color: #041c39c7;">'Consent'</span> to proceed.
    </li>
    <li>You will now be redirected to your SciLifeLab Serve account. For help creating a project, see the <a href="{% url 'guide_create_projects' %}">Projects</a> guide. 
  </ol>

  <h4>Troubleshooting</h4>
  If it is not possible for you to gain appropriate access credentials through LS-login, but
  you believe that you should have access to SciLifeLab Serve, you can <a
    href="https://serve.scilifelab.se/account/">request an account</a>.

{% endblock %}