{% extends "guide_template.html" %}
{% block heading %}
Creating a Docker image for your R Shiny app
{% endblock %}

{% block guide-content %}
<p>To host your R Shiny app, you must <i>containerize</i> it using Docker or similar service.
  Below you will find a step-by-step tutorial on how to containerize your app using Docker.
  This tutorial is based on the example provided in <a
    href="https://github.com/ScilifelabDataCentre/shiny-adhd-medication-sweden">this link</a>.</p>

<h3>Having issues?</h3>
<p>The SciLifeLab Serve team is happy to help you with this through a free individual consultation.
  Get in touch with us by e-mailing <a href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a>.</p>

<h3>Prerequisites:</h3>
<ol>
  <li><a href="https://docs.docker.com/get-docker/">Docker</a> installed on your machine</li>
  <li>An account to <a href="https://hub.docker.com/">DockerHub</a></li>
</ol>

<h3>Step 1: Create a Dockerfile</h3>
<p>Docker images are built from sets of instructions given in a so-called <a
    href="https://docs.docker.com/engine/reference/builder/">Dockerfile</a>. The name of the file should be exactly
  'Dockerfile' and it should not have any file extension. We created an example Dockerfile to make it easier to start.
  Create a file using any text editor you have and insert the code below or simply <a
    href="https://raw.githubusercontent.com/ScilifelabDataCentre/shiny-adhd-medication-sweden/main/Dockerfile">download
    this example from here</a>.</p>
<pre><code><span style="color:#045C64">FROM</span> rocker/shiny:latest

<span style="color:#045C64">RUN</span> apt-get update && \
    apt-get upgrade -y && \
    apt-get clean && \
    apt-get install -y git libxml2-dev libmagick++-dev && \
    rm -rf /var/lib/apt/lists/*

<span style="color:#045C64">RUN</span> Rscript -e 'install.packages(c("shiny","tidyverse"))'

<span style="color:#045C64">COPY</span> /app/ /srv/shiny-server/app

<span style="color:#045C64">RUN</span> cd /srv/shiny-server/ && \
    sudo chown -R shiny:shiny /srv/shiny-server/app

<span style="color:#045C64">COPY</span> shiny-customized.config /etc/shiny-server/shiny-server.conf

<span style="color:#045C64">EXPOSE</span> 3838

<span style="color:#045C64">CMD</span> ["R", "-e", "shiny::runApp('/app/', host = '0.0.0.0', port = 3838)"]</code></pre>
<p>Let us look at how you can customize it for your own app. In this example two packages were installed: <i>shiny</i>
  and <i>tidyverse</i>. This was done with the command</p>
<pre><code><span style="color:#045C64">CMD</span> ["R", "-e", "shiny::runApp('/app/', host = '0.0.0.0', port = 3838)"]</code></pre>
<p>Add your own packages here as needed by your app.</p>
<p>In this example the actual Shiny app code (the file <i>app.R</i>) as well as all dependencies are located in the
  folder called <i>'app'</i>. This folder as a whole is copied into the image using the command
<pre><code><span style="color:#045C64">COPY</span> /app/ /srv/shiny-server/app</code></pre>
<p>Change the folder names in this line and lines below if you have your own folder
  name. NB: This Dockerfile is expected to be placed in the parent folder of your app folder (so you should have
  <i>'app'</i>
  folder and this Dockerfile in the same folder).
</p>
<h3>Step 2: Build an image</h3>
<p>Ensure that Docker Desktop is running. Open a terminal on your computer and navigate to the
  folder where your app folder and Dockerfile are located using <code>cd</code>.</p> Build the docker image.
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker build -t &lt;user-name&gt;/&lt;app-name&gt; .</code></pre>
(NB: do not forget the dot at
the end of the command). Before you run it, replace <i>&lt;user-name&gt;/&lt;app-name&gt;</i> with your
DockerHub username and the name of the app. Building the image may take a while. Once the process is completed, you
should be able to see the image among your images in the Docker Desktop app.</p>

<h3>Step 3: Upload the Docker image into DockerHub</h3>
<p>Log in to Dockerhub</p>

<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker login --username &lt;user-name&gt;</code></pre>
<p>This will prompt you for your password. Next, you must tag your image by running</p>
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker tag &lt;app-name&gt; &lt;user-name&gt;/&lt;app-name&gt;</code></pre>
<p>Finally, push the image to dockerhub by executing the following</p>
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker push &lt;user-name&gt;/&lt;app-name&gt;</code></pre>

<h3>Step 4: Publish your app on SciLifeLab Serve</h3>
<p>Follow <a
  href="{% url 'guide_hosting' %}">these instructions</a> to publish your app to SciLifeLab Serve.</p>
Use
<ul>
  <li> <strong><em>DockerHub Image</em>:</strong> <i>&lt;user-name&gt;/&lt;app-name&gt;</i></li>
  <li><strong><em>App Port</em>:</strong> 3838</li>
</ul>

{% endblock %}