{% extends "guide_template.html" %}
{% block heading %}
Creating a Docker image for your Dash app
{% endblock %}

{% block guide-content %}


<p>To host your Dash app, you must <i>containerize</i> it using Docker or similar service. Below you will
  find a step-by-step tutorial on how to containerize your app using Docker.
  This tutorial is based on the example provided in <a
    href="https://github.com/ScilifelabDataCentre/shiny-adhd-medication-sweden">this link</a>.</p>

<h3>Having issues?</h3>
<p>The SciLifeLab Serve team is happy to help you with this through a free individual consultation.
  Get in touch with us by e-mailing <a href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a>.
</p>

<h3>Prerequisites:</h3>
<ol>
  <li><a href="https://docs.docker.com/get-docker/">Docker</a> installed on your machine</li>
  <li>An account to <a href="https://hub.docker.com/">DockerHub</a></li>
</ol>

<h3>Prerequisites:</h3>
<ol>
  <li><a href="https://docs.docker.com/get-docker/">Docker</a> installed on your machine</li>
  <li>An account to <a href="https://hub.docker.com/">DockerHub</a></li>
</ol>
<h3>Step 1: Create a Dockerfile</h3>
<p>Docker images are built from sets of instructions given in a so-called <a
    href="https://docs.docker.com/engine/reference/builder/">Dockerfile</a>. The name of the file should be
  exactly 'Dockerfile' and it should not have any file extension. We created an example Dockerfile to make
  it easier to start. Create a file using any text editor you have and insert the code below or simply <a
    href="https://raw.githubusercontent.com/ScilifelabDataCentre/dash-covid-in-sweden/main/Dockerfile">download
    this example from here</a>.</p>
<pre><code><span style="color:#045C64">FROM</span> python:3.9

<span style="color:#045C64">COPY</span> ./requirements.txt /requirements.txt

<span style="color:#045C64">RUN</span> apt-get update && apt-get upgrade -y

<span style="color:#045C64">RUN</span> pip3 install -r /requirements.txt
<span style="color:#045C64">RUN</span> pip3 install gunicorn openpyxl

<span style="color:#045C64">COPY</span> ./app.py /code/
<span style="color:#045C64">RUN</span> mkdir /code/assets
<span style="color:#045C64">COPY</span> ./assets/ /code/assets

<span style="color:#045C64">WORKDIR</span> /code/
<span style="color:#045C64">ENV</span> PYTHONPATH /code

<span style="color:#045C64">ENV</span> GUNICORN_CMD_ARGS "--bind=0.0.0.0:8000 --workers=2 --thread=4 --worker-class=gthread --forwarded-allow-ips='*' --access-logfile -"

<span style="color:#045C64">CMD</span> ["gunicorn", "app:server"]</code></pre>
<p>Our example set-up assumes that the app code is located in the file <i>app.py</i>, the required
  packages are listed in the file <i>requirements.txt</i>, that there is an <i>assets</i> folder with some
  additional files (in our case <i>styles.css</i>). All of these files and folders should be located in
  the same folder as the Dockerfile.</p>
<p>The Dockerfile is a set of instructions which you can change to fit your app needs (e.g. rename files
  and copy or run additional files). The first line declares that the image is based on Python 3.9; change
  the Python version if needed. This is followed by copying the <i>requirements.txt</i> in the image, and
  the required packages are installed in the fourth command:
<pre><code><span style="color:#045C64">RUN</span> pip3 install -r /requirements.txt</code></pre>
Subsequently, the <i>app.py</i> is copied, <i>/code/assests</i> folder is created and the content of our
<i>assets</i> folder is copied there.
</p>
<h3>Step 2: Build an image</h3>
<p>Ensure that Docker Desktop is running. Open a terminal on your computer and
  navigate to the folder where the app files and folders as well as the Dockerfile are located. To build
  an image you will need to run the following command:
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker build -t &lt;your-user-name&gt;/&lt;your-app-name&gt; .</code></pre>
(NB: do not forget the dot at the end of the command). Before you run it, replace the
<i>&lt;your-user-name&gt;/&lt;your-app-name&gt;</i>
with your DockerHub username and the name of the app. Building the image may take a while. Once the
process is completed, you should be able to see the image among your images in the Docker Desktop app.
</p>
<h3>Step 3: Upload the Docker image into DockerHub</h3>
<p>Log in to Dockerhub</p>
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker login --username &lt;user-name&gt;</code></pre>
<p>This will prompt you for your password. Next, you must tag your image by running</p>
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker tag &lt;app-name&gt; &lt;user-name&gt;/&lt;app-name&gt;</code></pre>
<p>Finally, push the image to dockerhub by executing the following</p>
<pre><code><span style="color:#045C64">jovyan@1b6fs2:~/work/path/to/Dockerfile$</span> docker push &lt;user-name&gt;/&lt;app-name&gt;</code></pre>

<h3>Step 4: Publish your app on SciLifeLab Serve</h3>
<p>Follow <a
  href="{% url 'guide_hosting' %}">these instructions</a> to publish your app to SciLifeLab Serve.</p>
  Use the following settings:
<ul>
  <li> <strong><em>DockerHub Image</em>:</strong> <i>&lt;user-name&gt;/&lt;app-name&gt;</i></li>
  <li><strong><em>App Port</em>:</strong> 8000</li>
</ul>

{% endblock %}