{% extends 'guide_template.html' %}
{% block heading %}
  Get an account
{% endblock %}

{% block guide-content %}
  <p>SciLifeLab Serve is available for life science researchers that are
    affiliated with a Swedish
    university. It can also be accessed via SciLifeLab infrastructure units for use in life
    science
    research.
    Others may be granted access under specific circumstances. For example, collaborators may be
    granted access in order to allow them to work on apps/models.</p>
  <p>Users are able to log in to SciLifeLab Serve using a Life Science Login (LS-login) (it is
    possible to use your
    Swedish university credentials with this service).
    If it is not possible for you to gain appropriate access credentials through LS-login, but
    you believe that you should have access to SciLifeLab Serve, you can <a
      href="https://serve.scilifelab.se/account/">request an account</a>.</p>
  <p>In the following subsection, we describe the steps that users should take to log in to
    SciLifeLab Serve using an LS-login.</p>
  <h4 id="stepslogin"><span>Step-by-step guide</span></h4>
  <p>Users should obtain a Life Science Login (LS-login) to access SciLifeLab Serve. Users that
    have previously registered for an LS-login should be able to use their existing credentials,
    but may be asked to become a member of ELIXIR or to perform other confirmatory steps.</p>
  <p>The below instructions describe the entire process of logging into SciLifeLab Serve,
    including obtaining an LS-login. Users that have previously registered for an LS-login may
    therefore be able to skip certain steps:</p>
  <ol>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Sign in'</span> in the <span
      style="font-weight: 500;color: #041c39c7;">top right
                                    of the SciLifeLab Serve homepage</span>.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Life
                                    Science
                                    Login'</span> in the subsequent page.
    </li>
    <li>Type the name of your institution in the <span
      style="font-weight: 500;color: #041c39c7;">'Choose
                                    Your
                                    Identity Provider'</span> box. Click on the appropriate option in the dropdown list.
    </li>
    <li>Use your institutional
      credentials (SWAMID) to log in when redirected to your institution's page.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Proceed to register on the Life
                                    Science Login'</span>. Users with an existing LS-login
      will not see this option and can skip to step 8.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">Submit</span> after completing
      the
      registration form.
    </li>
    <li><span style="font-weight: 500;color: #041c39c7;">Verify your email</span> by clicking on
      the link/button in the verification email you received.
    </li>
    <li>If you have not done so previously, you will be asked to register with ELIXIR. Click
      <span style="font-weight: 500;color: #041c39c7;">'Submit'</span> after
      completing the registration form.
    </li>
    <li>Click <span style="font-weight: 500;color: #041c39c7;">'Continue'</span> on the
      subsequent page indicating that you are a member of ELIXIR.
    </li>
    <li>The next page will summarise the information to be shared with SciLifeLab Serve. Click
      <span style="font-weight: 500;color: #041c39c7;">'Consent'</span> to proceed.
    </li>
    <li>Early access users of SciLifeLab Serve will be given the option to add the information
      to their exiting account. Click <span style="font-weight: 500;color: #041c39c7;">'Add to
                                    existing
                                    account'</span> to do so. Otherwise, complete the subsequent form to get an account.
    </li>
    <li><span style="font-weight: 500;color: #041c39c7;">Verify your email address</span>
      (following instructions in the verification email you received) to link your account
      with ELIXIR-broker.
    </li>
    <li>You will be redirected to your SciLifeLab Serve account.</li>
    <li>You will receive an email regarding an access consent for your LS-login that you can
      review.
    </li>
  </ol>
{% endblock %}