{% extends base_template %}
{% block content %}

<div class="container-fluid p-0">


  <div class="row">
      <div class="card flex-fill">
          <div class="card-header">
              <div class="d-flex justify-content-center">
                <h1 class="h1" style="font-weight: 800;">SciLifeLab</h1><h1 class="h1" style="margin-left: 5px;"> Serve</h1>
              </div>
          </div>
          <div class="card-body">


  <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
          <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
          <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
          <path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
        </svg>
      </div>
      <h4>Machine learning model serving</h4>
      <p>Deploy your pre-trained models using <b>TorchServe</b>, <b>TensorFlow Serving</b>, <b>MLFlow</b>. Obtain API endpoints for your models for programmatic access and build apps.</p>
    </div>
    <div class="feature col">
      <div class="mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
          <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
        </svg>
      </div>
      <h4>Application hosting</h4>
      <p>Host applications such as <b>R Shiny</b>, <b>Plotly Dash</b>, custom <b>Flask</b> apps, etc. to allow others to explore your data or results, or to provide tools based on your deployed machine learning models.</p>
    </div>
    <div class="feature col">
      <div class="mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-journal-code" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/>
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
        </svg>
      </div>
      <h4>Interactive development environments (IDEs)</h4>
      <p>Use a web-browser based <b>Jupyter Lab</b> or <b>RStudio</b> instance to run analyses or to collaborate with your team mates. We also accept requests for use in <b>teaching.</b></p>
    </div>
  </div>

<div class="row">
  <h3>Conditions</h3>
  <p style="font-size:medium;">SciLifeLab Serve is available free of charge to all life science researchers affiliated with a Swedish university (no SciLifeLab affiliation is required). At this time, SciLifeLab Serve is running in beta-mode - the main functionality is ready and should function as intended but we cannot yet guarantee uninterrupted operation. When the service transitions out of beta, all users and created resources will continue functioning. If you encounter an issue or find a bug, drop us a line to serve@scilifelab.se.</p>

  <h3>Resource limitations</h3>
  <p style="font-size:medium;">At the moment, SciLifeLab Serve does not have any set limits on storage, CPU, or memory allocation for different services offered. No specific decisions about future resource limitations have been taken yet. When the service is launched in production, there are likely to be default limitations but we endeavour to cover the needs of most research groups and communities.</p>

  <h3>Questions?</h3>
  <p style="font-size:medium;">The team behind SciLifeLab Serve is happy to answer your questions and receive feedback, drop us a line to serve@scilifelab.se.</p>

</div>
</div>
</div>
</div>

</div>
{% endblock %}
