{% extends base_template %}
{% block content %}
    <div class="container-fluid p-0">


        <div class="row">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <h1 class="h1" style="font-weight: 800;">Getting Started</h1>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row" style="font-size: medium;">
                        <article class="markdown-section" id="main" style="font-size: 14px;">
                            <h4>Table of Contents</h4>
                            <ul>
                                <li><a href="#getaccount">Get an account</a></li>
                                <ul>
                                    <li><a href="#stepslogin">Step-by-step guide</a></li>
                                </ul>
                                <li><a href="#projects">Projects</a></li>
                                <ul>
                                    <li><a href="#create-a-project">Creating a project</a></li>
                                    <li><a href="#create-a-project">Project components</a></li>
                                </ul>
                                <li><a href="#apps-resources">Hosting apps and resources</a></li>
                                <ul>
                                    <li><a href="#shiny">R Shiny</a></li>
                                    <li><a href="#dash">Dash</a></li>
                                </ul>
                                <li><a href="#tutorials">Tutorials for serving machine learning models</a></li>
                                <ul>
                                    <li><a href="#tensorflow">TensorFlow</a></li>
                                    <li><a href="#pytorch">PyTorch</a></li>
                                    <li><a href="#python-deploy">Python Model Deployment</a></li>
                                </ul>
                            </ul>
                            <h2 id="getaccount"><span>Get an account</span></h2>
                            <p>SciLifeLab Serve is available for life science researchers that are
                                affiliated with a Swedish
                                university. It can also be accessed via SciLifeLab infrastructure units for use in life
                                science
                                research.
                                Others may be granted access under specific circumstances. For example, collaborators
                                may be
                                granted access in order to allow them to work on apps/models.</p>
                            <p>Users are able to log in to SciLifeLab Serve using a Life Science Login (LS-login) (it is
                                possible to use your
                                Swedish university credentials with this service).
                                If it is not possible for you to gain appropriate access credentials through LS-login,
                                but
                                you believe that you should have access to SciLifeLab Serve, you can
                                request an account using the form bellow or write an email on
                                <a href="mailto:serve@scilifelab.se">serve@scilifelab.se</a>.</p>
                            <section>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="https://forms.dckube.scilifelab.se/api/v1/form/cUyui2NE59M5xs9U/incoming"
                                              method="POST" accept-charset="utf-8">
                                            <div class="modal-body">
                                                <h2 class="text-uppercase text-center mb-5">Request an account</h2>
                                                <div class="">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <input type="text" class="form-control" id="submitter_name"
                                                               name="submitter_name">
                                                        <label for="submitter_name" class="form-label">First
                                                            name</label>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <input type="text" class="form-control" id="submitter_name"
                                                               name="submitter_name">
                                                        <label for="submitter_name" class="form-label">Last name</label>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <input type="email" class="form-control" id="submitter_email"
                                                           name="submitter_email">
                                                    <label for="submitter_email" class="form-label">Email</label>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" id="submitter_org"
                                                           name="submitter_org">
                                                    <label for="submitter_org" class="form-label">Affiliation/Organisation</label>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="usage_description"
                                                              name="usage_description" rows="5"></textarea>
                                                    <label for="usage_description" class="form-label">What do you want
                                                        to use the platform for?</label>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="is_deployed_already_description"
                                                              name="is_deployed_already_description"
                                                              rows="5"></textarea>
                                                    <label for="is_deployed_already_description" class="form-label">If
                                                        you want to deploy a model/service, has it been deployed
                                                        somewhere else?</label>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="requirements_description"
                                                              name="requirements_description" rows="5"></textarea>
                                                    <label for="requirements_description" class="form-label">Requirements
                                                        for the deployment - CPU, Memory and other resources</label>
                                                </div>
                                            </div>

                                        </form>
                                        <div class="col-7 p-4">
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-success d-sm-inline-block">
                                                    Submit
                                                </button>
                                            </div>
                                            <div class="mb-3">
                                                <div class="g-recaptcha"
                                                     data-sitekey="6LfX3uggAAAAAFOoQPUE-iPY8wR9dPYp7bIBTc9W"></div>
                                            </div>
                                        </div>

                                        <p class="text-center text-muted mt-5 mb-0">Already have an account? <a
                                                href="{% url 'login' %}" class="fw-bold text-body"><u>Login here</u></a>
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <p>In the following subsection, we describe the steps that users should take to log in to
                                SciLifeLab Serve using an LS-login.</p>
                            <h4 id="stepslogin"><span>Step-by-step guide</span></h4>
                            <p>Users should obtain a Life Science Login (LS-login) to access SciLifeLab Serve. Users
                                that
                                have previously registered for an LS-login should be able to use their existing
                                credentials,
                                but may be asked to become a member of ELIXIR or to perform other confirmatory
                                steps.</p>
                            <p>The below instructions describe the entire process of logging into SciLifeLab Serve,
                                including obtaining an LS-login. Users that have previously registered for an LS-login
                                may
                                therefore be able to skip certain steps:</p>
                            <ol>
                                <li>Click <span style="font-weight: 500;color: #041c39c7;">'Sign in'</span> in the <span
                                        style="font-weight: 500;color: #041c39c7;">top right
                                    of the SciLifeLab Serve homepage</span>.
                                </li>
                                <li>Click <span style="font-weight: 500;color: #041c39c7;">'Life
                                    Science
                                    Login'</span> in the subsequent page.
                                </li>
                                <li>Type the name of your institution in the <span
                                        style="font-weight: 500;color: #041c39c7;">'Choose
                                    Your
                                    Identity Provider'</span> box. Click on the appropriate option in the dropdown list.
                                </li>
                                <li>Use your institutional
                                    credentials (SWAMID) to log in when redirected to your institution's page.
                                </li>
                                <li>Click <span style="font-weight: 500;color: #041c39c7;">'Proceed to register on the Life
                                    Science Login'</span>. Users with an existing LS-login
                                    will not see this option and can skip to step 8.
                                </li>
                                <li>Click <span style="font-weight: 500;color: #041c39c7;">Submit</span> after
                                    completing
                                    the
                                    registration form.
                                </li>
                                <li><span style="font-weight: 500;color: #041c39c7;">Verify your email</span> by
                                    clicking on
                                    the link/button in the verification email you received.
                                </li>
                                <li>If you have not done so previously, you will be asked to register with ELIXIR. Click
                                    <span style="font-weight: 500;color: #041c39c7;">'Submit'</span> after
                                    completing the registration form.
                                </li>
                                <li>Click <span style="font-weight: 500;color: #041c39c7;">'Continue'</span> on the
                                    subsequent page indicating that you are a member of ELIXIR.
                                </li>
                                <li>The next page will summarise the information to be shared with SciLifeLab Serve.
                                    Click
                                    <span style="font-weight: 500;color: #041c39c7;">'Consent'</span> to proceed.
                                </li>
                                <li>Early access users of SciLifeLab Serve will be given the option to add the
                                    information
                                    to their exiting account. Click <span style="font-weight: 500;color: #041c39c7;">'Add to
                                    existing
                                    account'</span> to do so. Otherwise, complete the subsequent form to get an account.
                                </li>
                                <li><span style="font-weight: 500;color: #041c39c7;">Verify your email address</span>
                                    (following instructions in the verification email you received) to link your account
                                    with ELIXIR-broker.
                                </li>
                                <li>You will be redirected to your SciLifeLab Serve account.</li>
                                <li>You will receive an email regarding an access consent for your LS-login that you can
                                    review.
                                </li>
                            </ol>
                            <h2 id="projects"><span>Projects</span></h2>
                            <p>Users are able to host apps and models. Every app and model has to be located within a
                                project. Projects that you have created/been granted access to can be found under the
                                <span
                                        style="font-weight: 500;color: #041c39c7;">Projects</span> tab in the sidebar.
                            </p>
                            <h4 id="create-a-project"><span>Creating a project</span></h4>
                            <p>Users need to be logged in to create a project. Users can create a new Project by
                                following
                                the steps below:</p>
                            <ol>
                                <li>Click on the <span style="font-weight: 500;color: #041c39c7;">Projects</span> tab
                                    shown
                                    on the sidebar (only visible if you are logged in).
                                </li>
                                <li>Click the <span style="font-weight: 500;color: #041c39c7;">New Project</span> button
                                    in
                                    the top right corner of the window.
                                </li>
                                <li>Select the project template that you want to use (currently there is only one
                                    template
                                    available).
                                </li>
                                <li>Enter project name (mandatory) and description (optional).</li>
                                <li>Click the <span style="font-weight: 500;color: #041c39c7;">Create Project</span>
                                    button
                                    to create the
                                    new project.
                                </li>
                            </ol>
                            <!-- <p><img style="width: 90%;" src="/static/dist/img/gifs/projects-page.gif" alt="screen-gif"></p> -->
                            <!-- <p><img src="/stackn/images/project-overview.gif" data-origin="images/project-overview.gif" alt="screen-gif"> -->
                            <p>This will take you to the project Dashboard. Here, users will be able to see an overview
                                of
                                the whole project. Different project component options will now appear as tabs in the
                                sidebar. A description of what each project component is can be found below:</p>
                            <ul>
                                <li><strong><em>Dashboard</em>:</strong> Overview of the project.</li>
                                <li><strong><em>Objects</em>:</strong> Model objects created in the current project.
                                </li>
                                <li><strong><em>Compute</em>:</strong> A list of pre-configured data science
                                    environments
                                    for
                                    experimentation and
                                    training ML models. (Currently, this tab will only have a pre-installed JupyterLab
                                    instance available
                                    for the user. Using this instance, users can e.g. can run experiments and also
                                    create
                                    model objects
                                    mentioned above. The tutorials below will elaborate on this.)
                                </li>
                                <li><strong><em>Serve</em>:</strong> A list of the most common applications used for
                                    deploying
                                    Machine Learning models, as well as options to create R Shiny and Dash apps. All
                                    options
                                    are available as ‘cards’, and you can use the ‘Create’ button to use these
                                    applications.
                                    Custom applications can be added to this list, if
                                    requested.
                                </li>
                                <li><strong><em>Settings</em>:</strong> Users can access and change the current project
                                    settings. Here one can, for example, add other project members.
                                </li>
                            </ul>
                            <!-- <h2 id="settings"><span>Settings</span></h2>
                                              <p>The <span style="font-weight: 500;color: #041c39c7;">Settings</span> page contains all the
                                                  information about
                                                  your Project and its components. Some of the things you can do there are:</p>
                                              <ul>
                                                  <li>Change the Project's description</li>
                                                  <li>Grant access to the project to registered users.</li>
                                                  <li>Transfer ownership of the project to another user.</li>
                                                  <li>Permanently delete the project.</li>
                                              </ul> -->
                            <h2 id="apps-resources"><span>Hosting apps and resources</span></h2>
                            <p> Users can create resources by going into the Serve tab. Here, the following options are
                                available:
                            </p>
                            <ul>
                                <!-- <li><strong><em>Compute</em>:</strong> a series of components to be used for experimentation and training models with pre-configured data science environments.</li> -->
                                <li><strong>R Shiny App</strong></li>
                                <li><strong>Dash App</strong></li>
                                <li><strong>Tensorflow Serve</strong></li>
                                <li><strong>PyTorch Serve</strong></li>
                                <li><strong>Python Model Serve (Using FastApi)</strong></li>
                            </ul>
                            <h3 id="shiny">R Shiny</h3>
                            <p>This is a resource to deploy R Shiny apps. Currently, only apps that have been packaged
                                as a
                                Docker container and made available on <a href="https://hub.docker.com/">DockerHub</a>
                                are
                                supported. </p>
                            <p>To deploy a R Shiny App click the Create button on the R Shiny App card in the Serve
                                Tab. Then enter
                                the following information in the form:</p>
                            <ul>
                                <li><strong>Name: </strong>Name of the app, specified by the user (e.g., 'Shiny
                                    Example')
                                </li>
                                <li><strong>Description: </strong>Provide a brief description of the app.</li>
                                <li><strong>Subdomain:</strong> This is the subdomain that the deployed app will be
                                    available at (e.g., a subdomain of r46b61563 would mean that the app would be
                                    available
                                    at r46b61563.serve.scilifelab.se). If no subdomain name is entered, a random name
                                    will
                                    be genrated by default. By clicking on <b>New</b> you can specify the custom
                                    subdomain
                                    name of your choice (provided that it is not
                                    already taken).
                                    This subdomain will then appear in the Subdomain options and the subdomain will
                                    appear
                                    in the format 'name-you-chose.serve.scilifelab.se'.
                                </li>
                                <li><strong>Permissions:</strong> The permissions for the project. There are 3 levels of
                                    permissions for an app:
                                    <ul>
                                        <li><strong>Private:</strong> The app can only be accessed by the user that
                                            created
                                            the app. (Sign
                                            In required)
                                        </li>
                                        <li><strong>Project:</strong> All members of the project will be able to access
                                            the
                                            app. (Sign In
                                            required)
                                        </li>
                                        <li><strong>Public:</strong> Anyone with the URL can access the app.
                                        </li>
                                    </ul>
                                </li>
                                <li><strong>Path to folder:</strong>This is the path to the folder (inside the docker
                                    container) in which
                                    the main Shiny application file is located (usually app.R).
                                </li>
                                <li><strong>App Port:</strong> The port that the Shiny server runs on (usually 3838).
                                </li>
                                <li><strong>DockerHub Image:</strong> Name of the image on DockerHub.</li>
                            </ul>
                            <p>When you deploy your app, you'll be taken to the serve page again, and should see your
                                app in
                                a list on the top of the screen. The state will initially show as 'Pending' (shown in an
                                orange label), but should change to 'Running' (shown in a green label)</p>

                            <p>To update a Shiny App after a new image has been published on DockerHub, click the pencil
                                icon next to the app and press on the <b>Update</b> button on the bottom of the form. To
                                delete the app, press the bin icon beside the pencil icon.</p>

                            <h3 id="dash">Dash</h3>
                            <p>This is a resource to deploy Dash apps. Currently, only apps that have been packaged as a
                                Docker container and made available on <a href="https://hub.docker.com/">DockerHub</a>
                                are
                                supported. </p>

                            <p>To deploy a Dash App click the Create button on the Dash App
                                card in the Serve Tab. Then Enter the following information in the form:</p>
                            <ul>
                                <li><strong>Name: </strong>Name of the app, specified by the user (e.g., 'Dash Example')
                                </li>
                                <li><strong>Description: </strong>Provide a brief description of the app.</li>
                                <li><strong>Subdomain:</strong> This is the subdomain that the deployed app will be
                                    available at (e.g., a subdomain of r46b61563 would mean that the app would be
                                    available
                                    at r46b61563.serve.scilifelab.se). If no subdomain name is entered, a random name
                                    will
                                    be genrated by default. By clicking on <b>New</b> you can specify the custom
                                    subdomain
                                    name of your choice (provided that it is not
                                    already taken).
                                    This subdomain will then appear in the Subdomain options and the subdomain will
                                    appear
                                    in the format 'name-you-chose.serve.scilifelab.se'.
                                </li>
                                <li><strong>Permissions:</strong> The permissions for the project. There are 3 levels of
                                    permissions for an app:
                                    <ul>
                                        <li><strong>Private:</strong> The app can only be accessed by the user that
                                            created
                                            the app. (Sign
                                            In required)
                                        </li>
                                        <li><strong>Project:</strong> All members of the project will be able to access
                                            the
                                            app. (Sign In
                                            required)
                                        </li>
                                        <li><strong>Public:</strong> Anyone with the URL can access the app.
                                        </li>
                                    </ul>
                                </li>
                                <!-- <li><strong>Persistent Volume:</strong> The volume that needs to be attached to the instance.</li> -->
                                <li><strong>Path to folder:</strong>This is the path to the folder (inside the docker
                                    container) in which
                                    the main Dash application file is located (usually app.py).
                                </li>
                                <li><strong>App Port:</strong> The port that the Dash app runs on (usually 8050).</li>
                                <li><strong>DockerHub Image:</strong> Name of the image on DockerHub.</li>
                            </ul>
                            <p>When you deploy your app, you'll be taken to the serve page again, and should see your
                                app in
                                a list on the top of the screen. The state will initially show as 'Pending' (shown in an
                                orange label), but should change to 'Running' (shown in a green label)</p>

                            <p>To update a Dash App after a new image has been published on DockerHub, click the pencil
                                icon
                                next to the app and press on the <b>Update</b> button on the bottom of the form. To
                                delete
                                the app, press the bin icon beside the pencil icon.</p>

                            <h2 id="tutorials">Tutorials for serving machine learning models</h2>
                            <p>These tutorials are intended as quick examples to get started with working on ML model
                                deployment and serving using Scilifelab Serve.</p>
                            <p>When a project is created, users also get a Jupyter lab instance. This can be found in
                                the
                                Compute tab on the Sidebar (which is visible when you open a project). Click on Open to
                                go
                                to
                                the Jupyter Lab instance. On the home screen, click on Terminal. This will open a
                                terminal
                                tab inside the Jupyter lab. Clone the tutorials repository <a
                                        href="https://github.com/ScilifelabDataCentre/serve-tutorials">serve-tutorials</a>.
                                You
                                will now see the <code>serve-tutorials</code> folder.</p>
                            <h3 id="tensorflow">Tensorflow</h3>
                            <p>Go to <code>serve-tutorials/Tensorflow/AML</code> folder. Open the <code>aml.ipynb</code>
                                notebook file. This notebook contains the code to create a ML Model and save it as an
                                object
                                on Scilifelab Serve. Run all the cells in the notebook. This may take some time (around
                                20
                                mins) as the model is trained.</p>

                            <p>After running this file, go to the Serve tab on the portal and create a Tensorflow Serve
                                App
                                with the follwing entries:</p>
                            <ul>
                                <li><strong>Name: </strong>AML Tensorflow</li>
                                <li><strong>Subdomain: </strong> This is automatically generated. A custom subdomain can
                                    be
                                    created by filling out the form below ("Add Subdomain"), this domain will then show
                                    up
                                    as an option.
                                </li>
                                <li><strong>Permissions: </strong> Set the permission to project.</li>
                                <!-- <li><strong>Persistent Volume:</strong> The volume that needs to be attached to the instance.</li> -->
                                <li><strong>Model: </strong>Select the model, in this case the model is named aml.</li>
                                <li><strong>Flavor: </strong> This indicates the resources given to the app. Currently
                                    on
                                    the Medium option is availble on the platform.
                                </li>
                            </ul>

                            <p>This should create the app and it will be visible in the Serve Tab. Copy the link for the
                                service (you can do this by right clicking Open and selecting copy link address). Then,
                                go
                                back to the Jupyter lab instance and open the <code>predict.ipynb</code> notebook.
                                Replace
                                the endpoint with the URL that you copied. Run the cells in the notebook. If you see a
                                prediction, this means that the service is running successfully.</p>

                            <h3 id="pytorch">PyTorch</h3>
                            <p>To serve a PyTorch model, we will use a pytorch model archive (VGG11) already prepared.
                                You
                                can read more about the model <a
                                        href="https://serve-dev.scilifelab.se/https://arxiv.org/abs/1409.1556">here</a>.
                            </p>

                            <p>Go to the <code>project-vol</code> folder inside the Jupyter lab. Right-click to create a
                                new
                                folder and give it a name (e.g., pytorch-deployment). Go to the terminal (you can also
                                launch
                                a new terminal through <code>File > New > Terminal</code>). Change directory to the
                                newly
                                created folder, so in this case by <code>cd project-vol/pytorch-deployment/</code>. Once
                                inside this folder run the command
                                <code>curl -O -J
                                    https://nextcloud.dckube.scilifelab.se/s/TSNxFJCYrpJZAnz/download</code>.
                                This will download the <code>vgg11_scripted.mar</code> archive to this folder. Now that
                                we
                                have the model archive, we need to launch the Pytorch Serve App. On the Scilifelab Serve
                                portal, go to the Serve tab. Then create the Pytorch Serve App with the following
                                values:
                            </p>
                            <ul>
                                <li><strong>Name: </strong>VGG11 Serve</li>
                                <li><strong>Subdomain: </strong> This is automatically generated, if not selected. You
                                    can
                                    create a subdomain to choose using the Add Subdomain form located at the bottom.
                                </li>
                                <li><strong>Permissions: </strong> Set the permission to public. (Currently, public
                                    permissions are required to access the serve URL for pytorch apps).
                                </li>
                                <li><strong>Flavor: </strong> This indicates the resources given to the app. Currently
                                    on
                                    the Medium option is availble on the platform.
                                </li>
                                <li><strong>Persistent Volume:</strong> The volume that needs to be attached to the
                                    instance. In this case it is important to select project-vol as that is where we
                                    dowloaded the vgg11_scripted.mar file.
                                </li>
                                <li><strong>Path to Model Store:</strong> This is the path to the folder where the model
                                    is
                                    located (relative to the mounted volume). As the model was downloaded in the
                                    pytorch-deployment folder inside the project-vol, the value for this will be
                                    pytorch-deployment.
                                </li>
                                <li><strong>Comma-separeted list of models (model1,model2,model3): </strong> This can be
                                    left empty. Here, model names from the model archive can be listed to deploy only
                                    those
                                    models.
                                </li>
                            </ul>

                            <p>Create the app and wait for the status to turn to <code>Running</code>. Right click on
                                Open
                                and copy the link address for the app. To check if it is working properly you can go to
                                the
                                Jupyter lab instance and open the terminal. Go to the
                                <code>serve-tutorials/PyTorch/</code>
                                folder using <code>cd serve-tutorials/PyTorch/</code> and run the command
                                <code>curl copied-url/vgg11_scripted -T kitten.jpg</code> (inplace of copied-url add the
                                URL
                                you copied earlier). You should get a JSON response if the deployment is working
                                properly.
                            </p>

                            <h3 id="python-deploy">Python Model Deployment</h3>
                            <p>Launch a new terminal from within your Jupyter instance and go to the
                                Python-Model-Deployment
                                folder:</p>
                            <p><code>cd serve-tutorials/Python-Model-Deployment folder</code></p>
                            <p>Install the required packages:</p>
                            <p><code>pip install -r requirements.txt</code></p>
                            <p>Go to <code>serve-tutorials/Python-Model-Deployment</code> folder. Open the
                                <code> getting_started_with_swebert.ipynb</code>
                                notebook file. Follow the notebook's instructions.</p>
                            <p>Once you have run all the cells in the above notebook, open up again the terminal and
                                execute
                                the following commands within the repository directory (inside the
                                Python-Model-Deployment
                                folder):</p>
                            <p><code>stackn create object afbert -r minor</code></p>
                            <p><code>stackn get objects</code></p>
                            <p>(Check that the model is listed; you should be able to see the newly created model object
                                in
                                your Scilifelab Serve UI, under the "<em>Objects</em>" tab)</p>

                            <p>Deploy the newly created model object with the "<em>Python Model Deployment</em>"
                                component
                                (under the "<em>Serve</em>" tab). <em>Name</em> can be anything, <em>Model</em> should
                                match
                                the name of the newly created model (e.g., "afbert:v0.1.0"); leave the rest as defaults.
                            </p>
                            <p><strong>Note:</strong> It could take some time for this model to initialize, so keep
                                checking the logs until it is available and wait until it is running successfully.</p>
                            <p>Once the above serving app is up and running, copy the endpoint URL by right-clicking on
                                the
                                <em>Open</em> link.</p>
                            <p>Go back to your Jupyter Lab and open the <code>predict.ipynb</code> notebook under the
                                <em>notebooks</em> folder. Paste the copied URL in place of the URL in order to use the
                                correct endpoint for the prediction.</p>
                            <p>It is time to test the prediction! Run all the cells and check the results.</p>
                            <p>You can play around by changing the values of the <code>example</code> and
                                <code>msk_ind</code> variables. The latter will mask (or "hide") one of the words in the
                                example sentence; then the prediction will shown the possible candidates for such
                                "missing"
                                word.</p>

                        </article>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}