{% extends "base.html" %}

{% block title %}My user profile{% endblock title %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-sm py-5">
    <!-- Main Content Here -->
    <div class="card border-0 shadow p-4">
        <div class="card-body">

            <div class="row justify-content-md-center py-3">

              <div class="col col-md-6">
                <div class="row">
                  <div class="col">
                    <h2>User account deleted</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <p class="alert alert-success" role="alert">Your user account has been deleted</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock content %}
